<div id="case-and-wildcards-search-help">
<hr/>
<h4>Case and Wildcards in Searches</h4>
    <p/>Editor searches are all <strong>case-insensitive</strong>.
    <p/>Editor searches on text fields allow you to add <strong>wildcards</strong>. e.g. "*"
    <p/>Fields for which the Editor adds its own wildcards are noted and an "-exact" version of the field is provided that adds no wildcards.
    <p/>You can add your own wildcards to "-exact" fields.
  <br>
  <br>
  <br>
</div>

