<h5>ID</h5>
<table class="table table-striped">
  <% [
      {field_name: 'id:', description: "one id or comma separated ids"},
      {field_name: 'ids:', description: "one id or comma separated ids"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent"><a href="javascript:void(0)" 
                                    class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span></a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

