<div class="row">
<div id="search-summary" class="no-left-padding col-sm-12 col-md-12 col-lg-12">
<div id="search-results-summary-container" class="col-sm-7 col-md-7 col-lg-7">
<span id="search-results-summary" class="inline-block search-results-summary span8">
&nbsp; Editor Help
</span>
</div>
</div>
</div>
</div>
