<% content_for :search_result_summary do %>
<% end %>

<div id="search-results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
      <tr><td class="width-100-percent">
          <%= parse_markdown("

#### The NSL Editor

The **NSL Editor** is a web application that allows you to search and edit taxonomic information.

The taxonomic information is organised within:

- names
- references
- authors, and
- instances

**Instances** connect **names** to **references** and are sometimes referred to as **usages**.


                   ") %>
        <%= image_tag 'synonymy-model-lego-style.svg' %>

        <%= parse_markdown("
Names have an **author** or **authors**, as do references.
        ") %>

          <h4>Searching</h4>
          <p>Searching is not case-sensitive.</p>
          <p>There are four record-level starting points for searches, along with tree searches, which operate a little differently.</p>
          <p/>The record-level search types are:
          <ul>
              <li/>Taxon Name
              <li/>Reference
              <li/>Author
              <li/>Instance
          </ul>
          </p>
          <p>Record-level searches can be simple or advanced.  A simple search is one in which you don't specify a field, so they look only at the default field.</p>
          <h5>Default fields for record-level searches</h5>
          <ul>
              <li/>Taxon Name: taxon full name
              <li/>Reference: citation
              <li/>Author: name or abbreviation (a match on either returns a result)
              <li/>Instance: taxon full name of the instance
          </ul>
      </td>
      </tr>
    </table>
  </div>
</div>

