<% content_for :search_result_summary do %>
<% end %>
<div id="search-results" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
      <tr><td class="width-100-percent">
        <h3>Instance Models</h3>
        <%= image_tag 'synonymy-model-lego-style.svg' %>
      </td>
      </tr>
    </table>
  </div>
</div>

