<div id="search-results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <h4>Reference type parent rules</h4>
    <table  id="search-results-table" class="table table-condensed search-results width-30em max-width-30em" data-summary="Results of the latest search.">
      <% RefType.all.sort {|x,y| x.name <=> y.name }.each do |ref_type| %>
        <tr><td><%= ref_type.rule %></td></tr>
      <% end %>


    </table>

  </div>
</div>

