<h4>Audits advanced search</h4>
<br>
<br>
<div id="advanced-search-audit-form-container" class="">
  <form class="form-inline advanced">
    <%= render partial: 'audits/advanced_search/form' %>
    <input type="button" onclick="window.loadAuditToString()" value="Search" title="Run the search"/>
</form>
</div>

