<div id="example-search-author" class="example-search-tab">
<h3>Review search examples</h3>
<h4 class="">List records</h4>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Review', search_string: "5",explanation: %Q(Records created or updated in the last 5 days.)},
      {search_target: 'Review', search_string: "5 names-only:",explanation: %Q(Names created or updated in the last 5 days.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent"><a href="javascript:void(0)" 
           class="example-search width-100-percent" 
           title="Link to search">
           <span class="blue"><%= link_to(val[:search_string], new_search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span></a>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>
<!--
<h4 class="">Count records</h4>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Review', search_string: "count 10 names-only:",explanation: %Q(Count names created in the last 10 days.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent"><a href="javascript:void(0)" 
           class="example-search width-100-percent" 
           title="Link to search">
           <span class="blue"><%= link_to(val[:search_string], new_search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span></a>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

</div>

-->

<% if @current_user.qa? %>
  <%#= render partial: 'audits/advanced_search/examples_qa' %>
<% end %>

