<h4>Quick start for Review search</h4>
<p>Enter a number (N) into the search field and press Enter or click Search.  This will show you records created or updated in the last N days.
<p> E.g.  <%= link_to('5', new_search_path(query_string: '5', query_target: 'review'),class:'blue') %>
<br>
<br>
