<div id="example-search-name" class="example-search-tab">
<h4>Orchids search examples</h4>
<br>

<h5 class=""></h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Orchids', search_string: "no-name-match:",explanation: %Q(List CSV taxa with no matching name.)},
      {search_target: 'Orchids', search_string: "many-name-match:",explanation: %Q(List CSV taxa with multiple matching names.)},
      {search_target: 'Orchids', search_string: "many-name-match: has-preferred-name:",explanation: %Q(List CSV taxa with multiple matching names but also a preferred name match recorded.)},
      {search_target: 'Orchids', search_string: "many-name-match: has-no-preferred-name:",explanation: %Q(List CSV taxa with multiple matching names and no preferred name match recorded.)},
      {search_target: 'Orchids', search_string: "original-text: *×*",explanation: %Q(Likely hybrids.)},
      {search_target: 'Orchids', search_string: "original-text: *×* is-accepted:",explanation: %Q(Likely hybrids that are (raw) accepted names.)},
      {search_target: 'Orchids', search_string: "original-text: *×* is-accepted:  no-name-match:",explanation: %Q(Likely hybrids that are (raw) accepted names with no matches.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

