<h4>Instances advanced search</h4>
<br>
<br>
<div id="advanced-search-instance-form-container" class="">
  <form class="form-inline advanced">
    <%= render partial: 'instances/advanced_search/form' %>
    <input type="button" onclick="window.loadInstanceToString()" value="Search" title="Run the search"/>
</form>
</div>

<script> <!-- captureSearch(); --> </script>
