<h4>Instance for Name ID search</h4>
<p/>
The "Instances" link on the Name details tab lets you run this search.  
<p/>
It is a composite search which shows the instances for a given name in order, along with their associated published and unpublished synonymy instances.
<p/>
It requires a single Name ID argument.
