<h4>Instance for Reference ID search</h4>
<p>
The "Instances" link on the Reference details tab lets you run this search.  
<p>
It is a composite search which shows the instances for a given Reference in Name alphabetical order, along with their associated published and unpublished synonymy instances.
<p>
Requires a single Reference ID argument.
