<div id="advanced-search-name-form-container" class="">
  <form class="form-inline">
  <input name="search_target" value="names" type="hidden" />
  <input name="search_from" value="fields" type="hidden" />
<table class="table advanced-form-table" class="table table-bordered" >
  <tr><td class="width-5-percent">List/count</td> 
    <td class="align-right width-15-percent"><label class="plain" for="query-on">Options</label></td>
    <td>
      <select id="name-advanced-search-list-or-count" name="list_or_count" class="form-control">
        <option value='count'>count records</option>
        <option value='list' selected='selected'>list results</option>
    </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Size</label>
    </td>
    <td>
      <input id="name-advanced-search-set-size" name="name_search_name" value="100" type="number" class="form-control min-width-10em" placeholder="Number of records for a list search" min="1" max="1000"/>
    </td>
  </tr>
    <tr> 
      <td class="width-5-percent">Type</td>
      <td class="align-right width-15-percent">
        <label class="plain" for="query-on">Options</label>
      </td>
      <td><%= select_tag('instance-advanced-search-type', 
                     options_for_select(InstanceType.query_form_options),
                     title: 'Select one type', 
                     include_blank: true,
                     autocomplete: "off", 
                     class: "form-control give-me-focus") 
                   %>
      </td>
    </tr>
    <!--
  <tr>
    <td></td>
    <td class="align-right">
      <label for="query-on">List</label>
    </td>
    <td>
      <input id="instance-advanced-search-instance-type-list" name="instance_search_instance_type_list" 
             value="" type="text" class="form-control min-width-20em" 
             placeholder="Comma-separated list of types">
    </td>
  </tr>
    -->
  <tr> <td class="width-5-percent">Page</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Text</label>
    </td>
    <td>
      <input id="name-advanced-search-page" name="name_search_page" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Extra</label>
    </td>
    <td>
      <input id="name-advanced-search-page-qualifier" name="name_search_page_qualifier" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
  <tr>
    <td class="width-5-percent">Comments</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Text</label>
    </td>
    <td>
      <input id="name-advanced-search-comments" name="name_search_comments" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">By</label>
    </td>
    <td>
      <input id="name-advanced-search-comments-by" name="name_search_comments_by" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
  <tr>
    <td class="width-5-percent">Notes</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Text</label>
    </td>
    <td>
      <input id="name-advanced-search-notes" name="name_search_notes" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
    <tr> 
      <td class="width-12-percent"></td>
      <td class="align-right width-15-percent">
        <label class="plain" for="query-on">Key</label>
      </td>
      <td><%= select_tag('instance-advanced-search-note-key', 
                     options_for_select(InstanceNoteKey.query_form_options),
                     title: 'Select one key', 
                     include_blank: true,
                     autocomplete: "off", 
                     class: "form-control give-me-focus") 
                   %>
      </td>
    </tr>
  <tr> <td class="width-5-percent">Assertions</td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" name="cites-an-instance" value="cites-an-instance:"> cites an instance</label> </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" name="is-cited-by-an-instance" value="cited-by-an-instance:"> is cited by an instance</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" name="does-not-cite-an-instance" value="cites-an-instance:"> does not cite an instance</label> </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" name="is-not-cited-by-an-instance" value="cited-by-an-instance:"> is not cited by an instance</label> </td>
  </tr>
  </table>
</form>
</div>
