<h4>Instance for Reference ID search</h4>
<p>
The "Instances" link on the Reference details tab lets you run this search.  
<p>
It is a composite search which shows the instances for a given Reference in order, along with their associated published and unpublished synonymy instances.
<p>
There are two variants of this search - one that orders the instances by Name and another that orders the instances by page.
<p>
The page ordered report attempts to derive a numeric page for ordering from the textual page field.
<p>
Both versions of the search require a single Reference ID argument.
