<h4>Instance Search</h4>

<p/>List instances in name order.  
<p/>Instance query allows direct query on instances, but they appear in simple lists without the normal name, reference or synonymy context.
<p/>More common ways to retrieve instances are via name or reference queries or via links from name or reference details.
<br>
<br>
<br>

<%= render partial: 'instances/advanced_search/field_help' %>

