<h3>Instance Search</h3>

<p>List instances.</p>
<p>Instance query allows direct query on instances. The results appear in simple lists without the normal name, reference or synonymy context.</p>
<p>Default order of results is by ID, but 
you can order instance searches by page using the <b>page-sort:</b> directive.
Page is a text field but this ordering tries to apply a sensible numeric sort to the textual data.</p>
<p>More common ways to retrieve instances are via name or reference queries or via links from name or reference details.</p>
<br>
<%= render partial: 'instances/advanced_search/field_help' %>

