<h4>Instances sorted by page for Reference ID search</h4>
<p>
The "Instances" link on the Reference details tab lets you run this search.  
<p>
It is a composite search which shows the instances for a given Reference in order, along with their associated published and unpublished synonymy instances.
<p>
The page ordered report attempts to derive a numeric page for ordering from the textual page field.
<p>
Requires a single Reference ID argument.
