<h5>Comments</h5>
<table class="table table-striped">
  <% [
      {field_name: 'comments:', description: "comment text, with leading and trailing wildcards added automatically. * "},
      {field_name: 'comments-exact:', description: "comment text"},
      {field_name: 'comments-by:', description: "user who commented"}
      ].each do |val| %>
  <tr>
    <td class="width-20-percent"><a href="javascript:void(0)" 
                                    class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span></a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<p>* Supports search for empty fields.</p>
