<h1>Listing instance_notes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instance_notes.each do |instance_note| %>
      <tr>
        <td><%= link_to 'Show', instance_note %></td>
        <td><%= link_to 'Edit', edit_instance_note_path(instance_note) %></td>
        <td><%= link_to 'Destroy', instance_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance note', new_instance_note_path %>
