

<% edit_link = link_to("Edit...",
                       edit_instance_note_path(instance_note.id), 
                       id: "instance-note-edit-link-#{instance_note.id}", 
                       class: "btn btn-default instance-note-edit-link", 
                       remote: true, 
                       data: {type: 'script'}) 
%>
 
<% cancel_edit_link = link_to("Cancel",
                       '',
                       id: "instance-note-cancel-edit-link-#{instance_note.id}",
                       class: "btn btn-default instance-note-cancel-edit-link hidden", 
                       remote: true, 
                       title: 'Cancel edit',
                       data: {type: 'script',
                              instance_note_id: instance_note.id})
%>

<%= render partial: 'detail_line', 
           locals: {info:  edit_link.html_safe + 
                           cancel_edit_link.html_safe +
                           instance_note.value,
                           label: "#{instance_note.instance_note_key.name}"} 
%>

<div id="instance-note-edit-form-container-<%= instance_note.id %>"></div>
