    <div class="form-group">
      <label for="orchid-parent-typeahead">Parent</label>
      <input id="orchid-parent-typeahead"
             name="orchid[parent_typeahead]"
             class="typeahead form-control"
             data-orchid-id="<%= @orchid.id %>"
             type="text" 
             tabindex="<%= increment_tab_index %>"
             title="Orchids parents"
             value="<%= @orchid.parent.try('taxon') %>"/>
    </div>
    <%= hidden_field(:orchid,:parent_id, value: @orchid.parent_id) %>
