<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="clear-query-field">Clear query field</a></li>
<li class="divider"></li>

<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="id: ">ID: [instance ID]</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="note-key: ">Note Key: [instance note key]</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="note: ">Note: [*text*]</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="with-comments-by: ">With Comments By: [userid]</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="with-comments: ">With Comments: [*text*]</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="cr-b: ">Created before: [number of days]</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="cr-a: ">Created in the last: [number of days]</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="upd-a: ">Updated in the last: [number of days]</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="upd-b: ">Updated before: [number of days]</a></li>

<li class="divider"></li>
<li class="dropdown-submenu">
  <a tabindex="-1" href="#" >Note Keys</a>
  <ul class="dropdown-menu" class="append-to-query-field" data-value="nr: ">
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Neotype">Neotype</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Ex.distribution">Ex.distribution</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="APC Comment">APC Comment</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="EPBC Impact">EPBC Impact</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Status">Status</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Under">Under</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Distribution">Distribution</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="URL">URL</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Lecto">Lecto</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Context">Context</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Vernacular">Vernacular</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Text">Text</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Comment">Comment</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Synonym">Synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Type">Type</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="APC Dist.">APC Dist.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Etymology">Etymology</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="EPBC Advice">EPBC Advice</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="APNI">APNI</a></li>
  </ul>
</li>

<li class="divider"></li>
<li class="dropdown-submenu">
  <a tabindex="-1" href="#" >Instance Types</a>
  <ul class="dropdown-menu" class="append-to-query-field" data-value="instance-type: ">
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="instance-type:">Start an instance type field</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[default]">[default]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[n/a]">[n/a]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[unknown]">[unknown]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="autonym">autonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="basionym">basionym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="comb. et nom. nov.">comb. et nom. nov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="comb. et stat. nov.">comb. et stat. nov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="comb. nov.">comb. nov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="common name">common name</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful invalid publication">doubtful invalid publication</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful misapplied">doubtful misapplied</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful nomenclatural synonym">doubtful nomenclatural synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful pro parte misapplied">doubtful pro parte misapplied</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful pro parte synonym">doubtful pro parte synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful pro parte taxonomic synonym">doubtful pro parte taxonomic synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful synonym">doubtful synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="doubtful taxonomic synonym">doubtful taxonomic synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="excluded name">excluded name</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="homonym">homonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="invalid publication">invalid publication</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="isonym">isonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="misapplied">misapplied</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. et stat. nov.">nom. et stat. nov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. nov.">nom. nov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nomenclatural synonym">nomenclatural synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="orth. var.">orth. var.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="primary reference">primary reference</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="pro parte misapplied">pro parte misapplied</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="pro parte nomenclatural synonym">pro parte nomenclatural synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="pro parte replaced synonym">pro parte replaced synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="pro parte synonym">pro parte synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="pro parte taxonomic synonym">pro parte taxonomic synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="protologue">protologue</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="relationship">relationship</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="replaced synonym">replaced synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="secondary reference">secondary reference</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="sens. lat.">sens. lat.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="synonym">synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="tax. nov.">tax. nov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="taxonomic synonym">taxonomic synonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="trade name">trade name</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="vernacular name">vernacular name</a></li>
  </ul>
</li>
