<% this_tab_re = Regexp.new(this_tab) %>
<% active_tab = (@tab.match(this_tab_re) && !this_tab.match(/tab_more/)) || (@tab.match(/tab_more/) && this_tab.match(/tab_comments/)) %>
<% semi_active_tab = (@tab.match(/tab_comments|tab_name_tags|tab_refresh|tab_de_duplicate/) && this_tab.match(/tab_more/)) %>
<% semi_active_tab = semi_active_tab || (@tab.match(/tab_more/) && this_tab.match(/tab_more/)) %>

<% data = Hash.new %>
<% data['edit-url'] = name_tab_path(@name,tab:"#{this_tab}") %>
<% data['tab-url'] = name_tab_path(@name,tab:"#{this_tab}") %>
<% data['prev-tab'] = prev_tab unless prev_tab.blank? %>
<% data['tab-name'] = this_tab %>

<li class='first <%= active_tab ? "active" : "non-active" %> <%= semi_active_tab ? "semi-active" : "" %>'>

 <%= link_to link_text,
             '#',
             id: link_id,
             class: 'tab edit-details-tab', 
             title: link_title,
             tabindex: tab_index,
             data: data %>
</li>

