<% increment_tab_index(0) %>


<% if @name.duplicate? %>
  <span class="message">Cannot create instances for a duplicate name.</span>
<% else %>

<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="error-container"></div>
<div id="search-result-details-error-message-container-0" class="error-container"></div>
<div id="search-result-details-error-message-container-1" class="error-container"></div>
<div id="search-result-details-error-message-container-2" class="error-container"></div>
<div id="search-result-details-error-message-container-3" class="error-container"></div>
<h5>Add an instance</h5>
<%= render partial: 'instances/form_create_from_name' %>

<% end %>

