<%= render partial: 'names/tabs/tabs2' %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<% increment_tab_index %>

<br>
<div>
<%= render partial: 'names/form/copy' %>
</div>
<br>
<br>
<% if @name.duplicate? %>
  <%= divider %>
  <div>
  <%= render partial: 'names/de_duplication/index' %>
  </div>
  <br>
  <br>
<% end %>
