<% increment_tab_index %>

<%= render 'names/tabs/delete_widgets' %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>

