<%= render partial: 'names/tabs/tabs_row_2' %>
<% increment_tab_index %>

<div>
<h5>Refresh</h5>
<%= render partial: 'names/tabs/refresh_widgets' %>
</div>


<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
