<%= render partial: 'names/tabs/tabs_row_2' %>
<% increment_tab_index %>

<% if @name.duplicate? %>
  <h5>Rewire duplicate</h5>
  <div>
  <%= render partial: 'names/de_duplication/index' %>
  </div>
  <%= divider %>
<% end %>

<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>

