<% increment_tab_index %>

<br>
<div>
<h5>Copy</h5>
<%= render partial: 'names/form/copy' %>
</div>
<br>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
