<%= render 'form' %>
<%= divider %>
<span class="pull-right">
<%= link_to "Refresh name", refresh_name_path(@name.id), remote: true, class: 'btn btn-primary', title: "Check and, if necessary, update the name on the LHS.  Rarely necessary." %>
</span>
<%= render 'change_category_widgets' %>
