<h4>Common and Cultivars in Name searches</h4>
<p/>Name searches may or may not include common and cultivar names.
<p/>There is a toggle to set this preference - either On or Off.
<p/> <%= image_tag('common-and-cultivar-on.png') %> 
<p/> <%= image_tag('common-and-cultivar-off.png') %> 

<p/>When set Off, common and cultivar names will be excluded from the search unless your search requires them to be included.
<p/>Searches by record ID or searches that specify a name type which includes common or cultivars ("type:*","type:cultivar") are examples that require common and cultivars to be included.
<p/>When set On, common and cultivar names will be included in the search unless your search excludes them from the result.
<p/>A search that specifies "nt:scientific" is an example that would exclude common and cultivars even if the setting is On.


