<h4>Name search</h4>
<p/>Names listed in alphabetical order.  
<p/>Common and cultivar names are excluded by default.
<br>
<br>
<%= render partial: 'names/advanced_search/quick_start_help' %>
<br>
<br>
<%= render partial: 'names/advanced_search/common_and_cultivar_help' %>
<br>
<br>
<%= render partial: 'names/advanced_search/field_help' %>

