<h4>Names plus instances</h4>
<p>Shows each name in alphabetical order with synonymy.
<p>Search for the names using the same fields and rules as for general name searching.

<br>
<br>
<br>
<%= render partial: 'names/advanced_search/field_help' %>

