
<div id="search-advanced-inner" 
     style="overflow: auto; min-height: 300px; height: 80%; margin-bottom: 1em; padding-bottom: 1em;"
     class="width-95-percent">

    <div id="name-search-advanced" class="search-advanced" data-loaded="false">
    </div>
    <div id="name-plus-instances-search-advanced" class="search-advanced" data-loaded="false">
    </div>
    <div id="reference-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="references-with-novelties-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="references-names-full-synonymy-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="author-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="instance-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="instances-for-name-id-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="instances-for-ref-id-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="instances-sorted-by-page-for-ref-id-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="tree-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>
    <div id="review-search-advanced" class="search-advanced hidden" data-loaded="false">
    </div>


</div>

