<div id="search-examples-inner" class="reports-inner">

  <div id="reference-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="name-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="name-plus-instances-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="author-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="instance-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="review-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="references-accepted-names-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="references-shared-names-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="references-names-full-synonymy-search-examples" class="search-examples" data-loaded="false"> </div>
  <div id="orchids-search-examples" class="search-examples" data-loaded="false"> </div>

</div>

