
  <div id="search-results-summary-container" class="col-sm-7 col-md-7 col-lg-7">
    <span id="search-results-summary" class="inline-block search-results-summary span8">
      <%= render partial: 'search/search_result_summary/index' %>
    </span>
  </div>

