<div id="search-help-inner" class="">
<% cache do %>
  <div id="reference-search-help" class="search-help" data-loaded="false">
  </div>
  <div id="name-search-help" class="search-help" data-loaded="false">
  </div>
  <div id="name-plus-instances-search-help" class="search-help" data-loaded="false">
  </div>
  <div id="author-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="instance-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="instances-for-name-id-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="instances-for-ref-id-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="instances-sorted-by-page-for-ref-id-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="tree-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="review-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="references-accepted-names-search-help" class="search-help hidden" data-loaded="false">
  </div>
  <div id="references-names-full-synonymy-search-help" class="search-help hidden" data-loaded="false">
  </div>
<% end %>
</div>

