<div id="search-help-inner" class="reports-inner">
<% cache do %>
  <div id="reference-search-help" class="search-help" data-loaded="false"> </div>
  <div id="name-search-help" class="search-help" data-loaded="false"> </div>
  <div id="name-plus-instances-search-help" class="search-help" data-loaded="false"> </div>
  <div id="author-search-help" class="search-help hidden" data-loaded="false"> </div>
  <div id="instance-search-help" class="search-help hidden" data-loaded="false"> </div>
  <div id="review-search-help" class="search-help hidden" data-loaded="false"> </div>
  <div id="references-accepted-names-search-help" class="search-help hidden" data-loaded="false"> </div>
  <div id="references-names-full-synonymy-search-help" class="search-help hidden" data-loaded="false"> </div>
  <div id="references-shared-names-search-help" class="search-help hidden" data-loaded="false"> </div>
  <div id="orchids-search-help" class="search-help" data-loaded="false"> </div>
<% end %>
</div>

