<% content_for :search_result_summary do %>
  <%= render partial: 'search_result_header' unless @search.blank? %>
<% end %>
<div id="search-results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
      <%= render partial: 'search_results' unless @search.blank? %>
    </table>
  </div>
</div>

