<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="clear-query-field">Clear query field</a></li>
<li class="divider"></li>

<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Query a name criterion</a>
  <ul class="dropdown-menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="n: ">Simple Name - n:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="ne: ">Name Element - ne:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="n: ">Name - n:</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="nt: ">Name Type - nt:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="not-nt: ">Not Name Type - not-nt:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="nr: ">Name Rank - nr:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="with-tag: ">Name Tag - with-tag:</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="parent-id: ">Parent ID - parent-id:</a></li>
  </ul>
</li>

<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Query a name author criterion</a>
  <ul class="dropdown-menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="a: ">Author - a:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="ba: ">Base Author - ba:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="eba: ">Ex-Author - eba:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="exba: ">Ex-Base Author - exba:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="sa: ">Sanctioning Author - sa:</a></li>
  </ul>
</li>

<li class="divider"></li>

<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Query a name type</a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nt:">Start a name type field</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="all">Allow all</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="scientific">Scientific</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="sanctioned">Sanctioned</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="hybrid formula parents known">Hybrid Formula Parents Known</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="hybrid formula unknown 2nd parent">Hybrid Formula Unknown 2nd Parent</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="named hybrid">Named Hybrid</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="named hybrid autonym">Named Hybrid Autonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="hybrid autonym">Hybrid Autonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="intergrade">Intergrade</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="autonym">Autonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="cultivar">Cultivar</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="cultivar hybrid">Cultivar Hybrid</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="cultivar hybrid formula">Cultivar Hybrid Formula</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="graft/chimera">Graft/Chimera</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="informal">Informal</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="common">Common</a></li>
  </ul>
</li>


<li class="dropdown-submenu">
  <a tabindex="-1" href="#" >Query a name rank</a>
  <ul class="dropdown-menu append-to-query-field" data-value="nr: ">
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nr:">Start a name rank field</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="species">Species</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="varietas">Varietas</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="genus">Genus</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subspecies">Subspecies</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="sectio">Sectio</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="familia">Familia</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="forma">Forma</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subgenus">Subgenus</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="ordo">Ordo</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="series">Series</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subsectio">Subsectio</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subseries">Subseries</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subvarietas">Subvarietas</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="superordo">Superordo</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subfamilia">Subfamilia</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subordo">Subordo</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="tribus">Tribus</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subclassis">Subclassis</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subtribus">Subtribus</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="classis">Classis</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="division">Division</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="form taxon">form taxon</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="morphological var.">morphological var.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="subforma">Subforma</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nothovarietas">Nothovarietas</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="regnum">Regnum</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nothomorph.">nothomorph.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="superspecies">Superspecies</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nothosubspecies">Nothosubspecies</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[unranked]">[unranked]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[infrafamily]">[infrafamily]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[infragenus]">[infragenus]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[infraspecies]">[infraspecies]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[n/a]">[n/a]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[unknown]">[unknown]</a></li>
  </ul>
</li>

<li class="dropdown-submenu">
  <a tabindex="-1" href="#" >Query a name status</a>
  <ul class="dropdown-menu append-to-query-field" >
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="ns:">Start a name status field</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[default]">[default]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[deleted]">[deleted]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[n/a]">[n/a]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="[unknown]">[unknown]</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="isonym">isonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="legitimate">legitimate</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. alt.">nom. alt.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. cons.">nom. cons.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. cult.">nom. cult.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. cult., nom. alt.">nom. cult., nom. alt.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. et orth. cons.">nom. et orth. cons.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. et typ. cons.">nom. et typ. cons.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. illeg.">nom. illeg.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. illeg., nom. rej.">nom. illeg., nom. rej.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. illeg., nom. superfl.">nom. illeg., nom. superfl.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval.">nom. inval.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. alt.">nom. inval., nom. alt.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. ambig.">nom. inval., nom. ambig.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. confus.">nom. inval., nom. confus.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. dub.">nom. inval., nom. dub.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. nud.">nom. inval., nom. nud.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. prov.">nom. inval., nom. prov.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., nom. subnud.">nom. inval., nom. subnud.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., opera utique oppressa">nom. inval., opera utique oppressa</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., pro. syn.">nom. inval., pro. syn.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. inval., tautonym">nom. inval., tautonym</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. rej.">nom. rej.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nom. superfl.">nom. superfl.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="nomina utique rejicienda">nomina utique rejicienda</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="orth. cons.">orth. cons.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="orth. var.">orth. var.</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="typ. cons.">typ. cons.</a></li>
  </ul>
</li>


<li class="dropdown-submenu">
  <a tabindex="-1" href="#" >Query a name tag</a>
  <ul class="dropdown-menu append-to-query-field" >
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="with-tag:">Start a name tag field</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="ACRA">ACRA</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="PBR">PBR</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="Trade">Trade</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="*">Any tag</a></li>
  </ul>
</li>

