<%= render partial: "audits/advanced_search/editor/examples" %>
<h5>QA</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: "Review",
       search_string: "5 by:amonro",
       explanation: %Q(Records created or updated in the last 5 days and either
       created or updated by amonro.)},
      {search_target: "Review",
       search_string: "5 names-only: created-by:kcowley",
       explanation: %Q(Names created or updated in the last 5 days and
       created-by kcowley.)},
      {search_target: "Review",
       search_string: "date-created: 2015-09-07 created-by:bcollins",
       explanation: %Q(Records created on 7 Sept 2015 by bcollins.)},
      {search_target: "Review",
       search_string: "date-last-updated: 2015-09-07 updated-by:amonro",
       explanation: %Q(Records last updated on 7 Sept 2015 by amonro.)},
      {search_target: "Review",
       search_string: "date-created-or-last-updated: 2015-09-07 by:amonro",
       explanation: %Q(Records created or last updated on 7 Sept 2015 and
                       either created or updated by amonro.)},
      {search_target: "Review",
       search_string: "date-last-updated: 2015-09-07 updated-by:bcollins",
       explanation: %Q(Records last updated on 7 Sept 2015 and last
                       updated by bcollins.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string],
                  search_path(query_string: val[:search_string],
                              query_target: val[:search_target]),
                  class: "blue",
                  title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

