<div id="instance-note-fields" >
  <%= render partial: 'instances/tabs/apc_note_edit_widgets',
           locals: { instance_notes: @instance.apc_instance_notes } %>

<h5>Add Note </h5>
  <%= 
    render partial: 'instance_notes/form_new', 
           locals: 
             {instance_note: InstanceNote.new,
              options: InstanceNoteKey.apc_options_for_instance(@instance) }
  -%>
</div>



