<div id="apc-tree-placement" ng-controller='apcTabController' data-instance-id="<%= @instance.id %>">
    <div ng-if="loading"><i class="fa fa-spinner fa-spin fa-fw"/>&nbsp;Loading &hellip;</div>
    <div ng-if="error" class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-close" aria-hidden="true"></i><span class="sr-only">Close</span></button>
        {{error}}
    </div>
    <div ng-if="serviceException" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-close" aria-hidden="true"></i><span class="sr-only">Close</span></button>
        {{serviceException.message["dcterms:title"]}}
        <div ng-repeat='m in serviceException.message.nested' style="margin-left: 1em; ">
            {{m["dcterms:title"]}}
            <div ng-repeat='mm in m.nested' style="margin-left: 1em; ">
                {{mm["dcterms:title"]}}
            </div>
        </div>
    </div>
    <div ng-if="loaded">
        <div>
            <b>Name</b>: <span ng-bind-html="data.params.name.fullNameHtml |  trustAsHtml"/>
        </div>
        <div>
            <b>Reference</b>: <span ng-bind-html="data.params.instance.citationHtml |  trustAsHtml"/>
        </div>
        <div ng-if="!data.isNamePlaced">
            <b>APC status</b>: Non APC.
        </div>
        <div ng-if="data.isNamePlaced">
            <div ng-if="!data.isPlaced">
                <div>
                    <b>Current APC Reference</b>:
                    <span ng-if="data.instance.citation">
                      <span ng-bind-html="data.instance.citationHtml |  trustAsHtml"/>
                    </span>
                    <span ng-if="!data.instance.citation">
                      (name placed without reference)
                    </span>
                </div>

                <div>
                    <b>APC Parent</b>:
                    <span ng-if="data.supernode.node.type.idPart != 'classification-root'">
                      <span ng-bind-html="data.supernode.name.fullNameHtml | trustAsHtml" class="tree-node {{data.supernode.node.type.css}}"/>
                    </span>
                    <span ng-if="data.supernode.node.type.idPart == 'classification-root'">
                      none (top-level instance)
                    </span>
                </div>

            </div>

            <div ng-if="data.isPlaced">
                <div>
                    <b>APC Status</b>:
                    <span ng-if="data.node.type.idPart == 'ApcConcept'">accepted</span>
                    <span ng-if="data.node.type.idPart == 'ApcExcluded'">excluded name</span>
                    <span ng-if="data.node.type.idPart == 'DeclaredBt'">non-APC parent</span>
                    <span ng-if="data.node.type.idPart != 'ApcConcept' && data.node.type.idPart != 'ApcExcluded' && data.node.type.idPart != 'DeclaredBt'">{{data.node.type.idPart}}</span>
                </div>

                <div>
                    <b>APC Parent</b>:
                    <span ng-if="data.supernode.node.type.idPart != 'classification-root'">
                      <span ng-bind-html="data.supernode.name.fullNameHtml | trustAsHtml" class="tree-node {{data.supernode.node.type.css}}"/>
                    </span>
                    <span ng-if="data.supernode.node.type.idPart == 'classification-root'">
                      none (top-level instance)
                    </span>
                </div>
            </div>
        </div>

        <div>&nbsp;</div>

        <accordion>
            <accordion-group ng-if="!data.params.instance.citedBy" >
                <accordion-heading>
                    {{data.isPlaced?'Update APC for this instance':'Use this instance in APC'}}
                    <i class="pull-right fa fa-edit"></i>
                </accordion-heading>

                <div class="well">
                    <div>
                        <b>APC Status</b>
                        <form>
                        <input type="radio"
                               ng-model="placeParams.apcStatus"
                               value="ApcConcept"
                        >
                            <span ng_click="placeParams.apcStatus='ApcConcept'" style="cursor:default; ">Accepted</span>
                        </input>
                            &nbsp;
                        <input type="radio"
                               ng-model="placeParams.apcStatus"
                               value="ApcExcluded"
                        >
                            <span ng_click="placeParams.apcStatus='ApcExcluded'" style="cursor:default; ">Excluded name</span>

                        </input>
                            &nbsp;
                        <input type="radio"
                               ng-model="placeParams.apcStatus"
                               value="DeclaredBt"
                        >
                            <span ng_click="placeParams.apcStatus='DeclaredBt'" style="cursor:default; ">Non-APC Parent</span>

                        </input>
                        </form>
                    </div>

                    <div>
                        <b>APC Parent</b>
                        <span ng-show="loadingSuperNames"><i class="fa fa-spinner fa-spin fa-fw" class="pull-right"/></span>
                        <input type="text"
                               ng-model="placeParams.superName"
                               typeahead="n as n.fullName for n in getApcName($viewValue) | filter:$viewValue"
                               typeahead-loading="loadingSuperNames"
                               typeahead-editable="false"
                               class="form-control">

                    </div>
                </div>
                <div>
                    <div style="display: inline-block;">

                        Place <span ng-bind-html="data.name.fullNameHtml |  trustAsHtml"/>

                        <span>
                            <span ng-if="placeParams.apcStatus == 'ApcConcept'">as an accepted name</span>
                            <span ng-if="placeParams.apcStatus == 'ApcExcluded'">as an excluded name</span>
                            <span ng-if="placeParams.apcStatus == 'DeclaredBt'">as a non-APC parent</span>
                        </span>

                        in APC

                        <span ng-if="placeParams.superName">
                            under <span ng-bind-html="placeParams.superName.fullNameHtml |  trustAsHtml"/>
                        </span>
                        <span ng-if="!placeParams.superName">
                            as a top-level name
                        </span>

                        using the reference

                        <span ng-bind-html="data.params.instance.citationHtml |  trustAsHtml"/>
                    </div>

                    <button class="btn-primary pull-right" ng-click="placeInApc()">{{data.isPlaced?'Update APC placement':'Place in APC'}}</button>
                </div>
            </accordion-group>

            <accordion-group ng-if="data.isPlaced">
                <accordion-heading>
                    Remove name from APC
                    <i class="pull-right fa fa-edit"></i>
                </accordion-heading>
                <div>
<%#
                    <b>Current APC accepted name</b>
                    <span ng-show="loadingReplacementNames"><i class="fa fa-spinner fa-spin fa-fw" class="pull-right"/></span>
                    <input type="text"
                           ng-model="removeParams.replacementName"
                           typeahead="n as n.fullName for n in getApcName($viewValue) | filter:$viewValue"
                           typeahead-loading="loadingReplacementNames"
                           class="form-control">

                    <div ng-if="removeParams.replacementName">
                        Replace with name {{removeParams.replacementName.id}}:
                        <span ng-bind-html="removeParams.replacementName.fullNameHtml |  trustAsHtml"/>
                    </div>
                    <div ng-if="!removeParams.replacementName">
                        Remove without replacement.
                    </div>
 %>

                    <span ng-bind-html="data.params.name.fullNameHtml |  trustAsHtml"/> will be removed from the current APC tree.

                </div>

                <button class="btn-primary pull-right" ng-click="removeFromApc()">Remove from APC</button>
                &nbsp;
            </accordion-group>
        </accordion>
    </div>
</div>

<script type="text/javascript">
    // this is supposd to be being set correctly by environment.js.erb - we don't know why it isn't.

    NSL_API_URL = "<%= Rails.configuration.services_clientside_root_url %>api/";
    NSL_SUGGEST_URL = "<%= Rails.configuration.services_clientside_root_url %>suggest/";
    angular.bootstrap($('#apc-tree-placement')[0], ['au.org.biodiversity.nsl.editor.apc-tree-placement']);
</script>
