<% increment_tab_index(0) %>

<% if @working_draft %>
  <%= render partial: "instances/workspace/tab_main" %>
<% else %>
    <h5>No classification selected</h5>
    <p>
      Select a classification or workspace from the User&nbsp;&gt;&nbsp;Classifications menu.
    </p>
<% end %>
