<% increment_tab_index(0) %>
Saving will create a copy of the current reference.
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<div id="cloned-reference-form-container">
  <%= render partial: "form" %>
</div>
<div class="hidden instance-form-success-message"> </div>
<div class="error-message-container message-container"></div>
