
<div id="distribution-value-container">
<%=
   render partial: "instances/workspace/values/distribution"
%>
</div>

<div id="comment-value-container">
<%=
   render partial: "instances/workspace/values/comment"
%>
</div>
