<% if !@instance.cited_by_id %>
    <%= form_tag({controller: 'trees', action: 'move_placement'}, {method: :patch, remote: true}) do %>
        <%= hidden_field_tag("move_placement[taxon_uri]", @tree_version_element.element_link) %>

        <%= render partial: "instances/workspace/forms/name_typeahead" %>

        <button type="submit"
                id="update-name-placement-btn"
                class="btn btn-primary"
                name="move_placement[update]"
                tabindex="<%= increment_tab_index %>"
                title="Update the name on the tree."
                onclick="$('#update-name-placement-btn').find('i.fa').addClass('fa-spin');"
        >Update <i class="fa fa-refresh"></i></button>

        <span id="movement-message-container"
              class="message-container green hidden"></span>
        <div id="movement-error-message-container"
             class="error-message-container red hidden"></div>
    <% end %>
<% end %>

