<div id="search-results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
    <tr><td colspan="99" width="80-percent">
        
    <h2>Admin</h2>
    <h3>Database Connections</h3>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="text">Pool size</td><td> <%= ActiveRecord::Base.connection_pool.size %> </td></tr>
    <tr><td class="text">Connections</td><td> <%= ActiveRecord::Base.connection_pool.connections.size %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    </td><td class="width-5-percent">&nbsp;</td></tr></table>
  </div>
</div>


