
 <span id="set-include-common-and-cultivar">
   <%= render partial: 'set_include_common_and_cultivar' %>
 </span>

<% unless @search.empty == true %>
 &nbsp;|&nbsp;
<% end %>
<% if @search.error %>
  <%= @search.error_message %>
<% elsif @search.empty %>
<% else %>
   <%= render partial: 'search/search_result_summary/success' %>
 <% end %>
 
<%#= @search.parsed_request.inspect %>
