<table class="table advanced-form-table" class="table table-bordered" >
  <tr><td class="width-5-percent">List/count</td> 
    <td class="align-right width-15-percent"><label class="plain" for="query-on">Options</label></td>
    <td>
      <select id="audit-advanced-search-list-or-count" 
              name="list_or_count" 
              class="form-control"
              title="Choose to list or count the search results.">
              >
        <option value='count'>count records</option>
        <option value='list' selected='selected'>list results</option>
    </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Size</label>
    </td>
    <td>
      <input id="audit-advanced-search-set-size" 
             value="100" 
             type="number" 
             class="form-control min-width-10em" 
             title="Number of records for a list search" 
             min="1" 
             max="1000"/>
    </td>
  </tr>
  <tr> <td class="width-5-percent">User Id</td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <input id="audit-advanced-search-user-id" 
             type="text" 
             class="form-control min-width-20em" 
             title="Search only records for a given user Id."/>
    </td>
  </tr>
  <tr> <td class="width-5-percent">Date&nbsp;created</td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <input id="audit-advanced-search-created-date" 
             name="audit_search_start_date" 
             type="text" 
             class="form-control min-width-20em" 
             title="Search for records created on this date. Format yyyy-mm-dd."/>
    </td>
  </tr>
  <tr> <td class="width-5-percent">Date&nbsp;last&nbsp;updated</td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <input id="audit-advanced-search-last-updated-date" 
             name="audit_search_end_date" 
             type="text" 
             class="form-control min-width-20em" 
             title="Search for records last updated on this date. Format yyyy-mm-dd."/>
    </td>
  </tr>
  <tr> <td class="width-5-percent">Date&nbsp;created&nbsp;or&nbsp;last&nbsp;updated</td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <input id="audit-advanced-search-created-or-last-updated-date" 
             name="audit_search_end_date" 
             type="text" 
             class="form-control min-width-20em" 
             title="Search for records created or last updated on this date. Format yyyy-mm-dd."/>
    </td>
  </tr>
  <tr> <td class="width-5-percent">Records</td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="authors" 
               title="Only search author records."
               value="authors:"> authors</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="comments" 
               title="Only search comment records."
               value="comments:"> comments</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="instances" 
               title="Only search instance records."
               value="instances:"> instances</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="instance-notes" 
               title="Only search instance note records."
               value="instance-notes:"> instance notes</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="names" 
               title="Only search name records."
               value="names:"> names</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="references" 
               title="Only search reference records."
               value="references:"> references</label> </td>
  </tr>
  <tr> <td class="width-5-percent">Operations</td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="create" 
               title="Only search for create operations"
               value="create:"> create</label> </td>
  </tr>
  <tr> <td class="width-5-percent"></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain">
        <input type="checkbox" 
               class="audit-search-assertion" 
               name="edit" 
               title="Only search for edit operations"
               value="edit:"> edit</label> </td>
  </tr>
  </table>

