<h4>Review search</h4>
List records you created or were the most recent person to update.
<br>
Note: deleted records are not covered in these queries.
Also, only the last-updating user is currently available for searching.
<br>
<br>
<%= render partial: 'audits/advanced_search/editor/quick_start_help' %>
<%= render partial: 'audits/advanced_search/editor/field_help' %>
