<div class="focus-details unsaved-record">
  <div id="new-author-form-container" class="new-record-form-container">
            
    <h4>New Author</h4>

    <hr>
    <%= render partial: 'form' %>

  </div>
</div>
