
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="clear-query-field">Clear query field</a></li>
<li class="divider"></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="n: ">Name - n:</a></li>

