<% increment_tab_index(0) %>

<%= render 'form' %>


<%= render 'delete_widgets' if @author.can_be_deleted? %>
<br>
<div class="error-message-container"></div>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
