    <div class="typeahead-container">
      <section class='block width-100-percent'>
        <input id="workspace_parent_name_typeahead"
               name="place_name[parent_name_typeahead_string]"
               class="typeahead form-control width-100-percent" 
               tabindex="<%= increment_tab_index %>"
               type="text" 
               title="Select a name from the suggestions as you type."
               placeholder="Name suggestions"
               value="<%= @name_node_link.supernode.name.full_name %>" />
      </section>
      <script> setUpWorkspaceParentName(); </script>
      <input type="hidden"
             id="workspace_parent_name_id"
             name="place_name[parent_name_id]"
             value="<%= @name_node_link.supernode.name.id %>" />
    </div>

