<h4>Reference advanced search</h4>
<br>
<br>
<div id="advanced-search-ref-form-container" class="">
  <form class="form-inline advanced">
    <%= render partial: 'references/advanced_search/form' %>
    <input type="button" onclick="window.loadReferenceToString()" value="Search" title="Run the search"/>
</form>
</div>

