<h4>Reference search</h4>
<p/>Reference citations listed in alphabetical order.
<br>
<br>
<br>
<br>
<%= render partial: 'references/advanced_search/quick_start_help' %>
<br>
<br>
<br>
<%= render partial: 'references/advanced_search/field_help' %>

