<h4>References, names, full synonymy</h4>
<p/>Lists each reference in alphabetical order with their primary instances in alphabetical order - effectively the novel taxa in the reference.
<p/>Search for the references using the same fields and rules as for general reference searching.
<p/>Note that sometimes the limit will be slightly exceeded due to the block nature of the query.

<br>
<br>
<br>
<%= render partial: 'references/advanced_search/field_help' %>
