<h4>Quick start for Reference search</h4>
<p>Type one or two terms for the author, title or publication details into the search and press Enter or click Search.  The Editor will try to find something useful.
<p> E.g.  <%= link_to('bent hook notes', new_search_path(query_string: 'bent hook notes', query_target: 'reference'),class:'blue') %>
or <%= link_to('bent hook notes 1986', new_search_path(query_string: 'bent hook notes 1986', query_target: 'reference'),class:'blue') %>
<br>

