<h4>References with novelties</h4>
<p/>Shows each reference with their primary instances in alphabetical order - effectively the novel taxa in the reference.
<p/>Search for the references using the same fields and rules as for general reference searching.

<br>
<br>
<br>
<%= render partial: 'references/advanced_search/field_help' %>
