<h4>Instances sorted by page for Reference ID search</h4>
<p/>
The Instances "sorted by page" link on the Reference details tab runs this search.  
<p/>Example:
<p/> <%= image_tag('instances-sorted-by-page-for-ref-id.png') %> 
<p/>
It is a composite search which first displays a single Reference, then shows the Instances for the Reference in <strong>page</strong> order, along with their associated published and unpublished synonymy Instances.

<p/>The page for an instance is a text field that may contain unstructured data, so the page ordered report attempts to derive a numeric page value for ordering from the textual page field.  The resulting order is not perfect and is still being refined.
<p/>
The query requires a single Reference ID argument.
Count is not available.
