<h4>References with novelties examples</h4>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'References with novelties', search_string: "1985 maslin", explanation: %Q(Searches for references, only shows the one with primary instances.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

