<h4>Instance for Reference ID search examples</h4>
<h5 class="">List or Count</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Instances for ref id', search_string: "27915",explanation: %Q(Genera Plantarum instances.)},
      {search_target: 'Instances for ref id', search_string: "count 42942",explanation: %Q(Count instances for CHAH (2006), Australian Plant Census.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

