<h4>Instance for Reference ID search</h4>
<p/>
The Instances "sorted by name" link on the Reference details tab runs this search.  
<p/>Example:
<p/> <%= image_tag('instances-for-ref-id.png') %> 
<p/>
It is a composite search which first displays a single Reference, then shows the Instances for the Reference in Name order, along with their associated published and unpublished synonymy Instances.
<p/>
Name order is the default order for multiple Instances of different Names.
<p/>
The query requires a single Reference ID argument.
<p/>
Count is available.

