<tr><td colspan="99" width="80-percent"> <h2>July 2015</h2> </td></tr>
<tr><td colspan="99" width="80-percent"> NSL-926: cultivar and cultivar hybrid parents to include genus and below.
<tr><td colspan="99" width="80-percent">

  <table border="1" class="rules-table width-100-percent">
    <tr>
      <th>Category</th>
      <th>Scientific name</th>
      <th>Hybrid formula</th>
      <th>Hybrid formula unknown<br> 2nd parent</th>
      <th>Cultivar hybrid</th>
      <th>Cultivar</th>
      <th>Other</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Scientific</th>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>Required</td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
    </tr>
    <tr>
      <td>Type values</td>
      <td> autonym<br>
        named hybrid<br>
        named hybrid autonomy<br>
        phrase name<br>
        sanctioned<br>
        scientific<br>
      </td>
      <td> cultivar hybrid formula<br>
        graft chimera<br>
        hybrid autonym<br>
        hybrid formula parents known<br>
        intergrade<br>
      </td>
      <td> hybrid formula unknown 2nd parent<br>
      </td>
      <td> cultivar hybrid </td>
      <td> cultivar </td>
      <td> [default]<br>
        [n/a]<br>
        [unknown]<br>
        common<br>
        informal<br>
        vernacular<br>
      </td>
    </tr>
    <tr><td colspan="7"></td></tr>

    <tr>
      <th>Rank</th>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
    </tr>
    <tr>
      <td>Rank values</td>
      <td>Full set</td>
      <td>Full set</td>
      <td>[n/a]</td>
      <td>Species, infraspecies</td>
      <td>Species, infraspecies <br><span>[unranked]</span></td>
      <td>[n/a]</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
    </tr>
    <tr>
      <td>Status values</td>
      <td>Full set</td>
      <td>[n/a]<br> [deleted]</td>
      <td>[n/a]<br> [deleted]</td>
      <td>[n/a]<br> [deleted]</td>
      <td>[n/a]<br> [deleted] <br><span>[default]</span></td>
      <td>[n/a]<br> [deleted]</td>
    </tr>
    <tr>
      <th>Parent 1</th>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td>Required</td>
      <td class="fill-to-show-not-relevant"></td>
    </tr>
    <tr>
      <td>Parent 1 values</td>
      <td>Restricted by rank,<br><span>but if unranked, can have unranked parent.</span></td>
      <td>Species and below,<br><span>but if unranked, can have unranked parent.</span></td>
      <td>Species and below,<br><span>but if unranked, can have unranked parent.</span></td>
      <td><strike class="red">Restricted by rank</strike><span class="blue">Genus and below,</span><br><span>but if unranked, can have unranked parent.</span></td>
      <td><strike class="red">Restricted by rank</strike><span class="blue">Genus and below,</span><br><span>but if unranked, can have unranked parent.</span></td>
      <td class="fill-to-show-not-relevant"></td>
    </tr>
    <tr>
      <th>Parent 2</th>
      <td class="fill-to-show-not-relevant"></td>
      <td>Required</td>
      <td class="fill-to-show-not-relevant"></td>
      <td>Required</td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
    </tr>
    <tr>
      <td>Parent 2 values</td>
      <td class="fill-to-show-not-relevant"></td>
      <td>Species and below,<br><span>but if unranked, can have unranked parent.</span></td>
      <td class="fill-to-show-not-relevant"></td>
      <td><strike class="red">Species</strike><span class="blue">Genus</span> and below<br><span>but if unranked, can have unranked parent.</span></td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
    </tr>
    <tr>
      <th>Authors</th>
      <td>Optional:<br>
        - Ex Base Author<br>
        - Base Author<br>
        - Ex Author<br>
        - Author<br>
        - Sanctioned<br>
      </td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
      <td class="fill-to-show-not-relevant"></td>
    </tr>
  </table>


