<div>
  <%= select_tag("update_distribution[dist]", options_for_select(TreeElement.dist_options,
                                                                 selected: @tree_version_element.tree_element.current_dist_options,
                                                                 disabled: @tree_version_element.tree_element.dist_options_disabled),
                 multiple: true, class: "dist-select form-control", tabindex: increment_tab_index) %>
</div>

<button type="submit"
        id="update_distribution_btn"
        class="btn btn-primary left"
        name="update_distribution[update]"
        tabindex="<%= increment_tab_index %>"
        title="Update this distribution"
        onclick="$('#update_distribution_btn').find('i.fa').addClass('fa-spin'); $('option').removeAttr('disabled');"
>Add distribution <i class="fa fa-refresh"></i>
</button>
<script>
  $(document).ready(function () {
    initDistSelect();
  })
</script>