<%#= text_area_tag("update_distribution[distribution]", @tree_version_element.distribution, escaped: false, title: 'Edit distribution', rows: 2, class: 'form-control', tabindex: increment_tab_index) %>
<div>
  <%= select_tag("update_distribution[dist]", options_for_select(TreeElement.dist_options,
                                                                 selected: @tree_version_element.tree_element.current_dist_options,
                                                                 disabled: @tree_version_element.tree_element.dist_options_disabled),
                 multiple: true, class: "dist-select form-control") %>
</div>

<button type="submit"
        id="update_distribution_btn"
        class="btn btn-primary left"
        name="update_distribution[update]"
        tabindex="<%= increment_tab_index %>"
        title="Update this distribution"
        onclick="$('#update_distribution_btn').find('i.fa').addClass('fa-spin'); $('option').removeAttr('disabled');"
>Add distribution <i class="fa fa-refresh"></i>
</button>
<script>
  $(document).ready(function () {
    $('.dist-select').select2();
    $('.dist-select').on('select2:select', function (e) {
      console.log('Selected something');
      console.log(e.params.data);
      var m = e.params.data.id.split(' ')[0];
      $('option[value^=' + m + ']').attr('disabled', 'disabled');
      $('.dist-select').select2().select2('open');
    });
    $('.dist-select').on('select2:unselect', function (e) {
      console.log('Selected something');
      console.log(e.params.data);
      var m = e.params.data.id.split(' ')[0];
      $('option[value^=' + m + ']').removeAttr('disabled');
      $('.dist-select').select2().select2('open');
    });

  })
</script>