<% Tree.menu_drafts.each do |menu_item| %>

    <%
      icon_check_class =
          if session["draft"].present? &&
              menu_item.draft_id == session["draft"]["id"]
            ""
          else
            "hidden"
          end
    %>

    <li role="presentation">
      <% if menu_item.draft_id %>
          <%= link_to("#{menu_item.name} #{menu_item.draft_name}
                      #{fa_icon 'check', class: icon_check_class}".html_safe,
                      toggle_current_workspace_path(id: menu_item.draft_id),
                      { remote: true,
                        method: "post",
                        title: menu_item.log_entry }) %>
      <% else %>
          <%= "#{menu_item.name} (No draft)".html_safe %>
      <% end %>
    </li>

<% end %>
