
<% ws_count = 0 %>
<% Tree::Public.all.each do |classification| %>
  <% next unless classification.workspaces? %> 
  <% ws_count += 1 %>
  <li role="presentation">
    <span>&nbsp; <%= classification.label %></span>
  </li>
  <% classification.workspaces.each  do |workspace| %>
    <% 
      icon_check_class = 
        if session["workspace"].present? then
          if workspace.id == session["workspace"]["id"]
            ""
          else
            "hidden"
          end
        else
          "hidden"
        end
    %>
    <li role="presentation" style="padding-left: 1em;">
      <%= link_to("#{icon('cirle-o')} #{workspace.title} #{fa_icon 'check', class: icon_check_class}".html_safe,
                  create_current_workspace_path(id: workspace.id),
                  { remote: true,
                    method: "post",
                    title: 'Choose current workspace' }) %>
    </li>
  <% end %>
<% end %>
<% if ws_count == 0 %>
  <li role="presentation">
    <span>&nbsp;&nbsp;[No&nbsp;workspaces&nbsp;-&nbsp;create&nbsp;one&nbsp;in&nbsp;the&nbsp;Tree&nbsp;Editor.]&nbsp;</span>
  </li>
<% end %>
