<div>
  <%= select_tag("place_name[distribution]", options_for_select(TreeElement.dist_options,
                                                                selected: [],
                                                                disabled: []),
                 multiple: true, class: "dist-select form-control", tabindex: increment_tab_index) %>
</div>
<button type="button"
        class="btn btn-warning clear-area"
        onclick="$('option').removeAttr('disabled'); $('.dist-select').val(null).trigger('change');$('.dist-select').select2();">Clear
  distribution
</button>
<script>
  $(document).ready(function () {
    initDistSelect();
  })
</script>