<div class="focus-details unsaved-record">
  <div id="new-draft-tree-form-container" class="new-record-form-container">

    <h4>New Draft Tree</h4>
    <div>
      <form action="<%= trees_create_draft_path %>" data-remote="true" method="post">
        <div class="form-group">
          <label>Tree
            <%= select_tag("tree_id",
                           options_from_collection_for_select(Tree.all, 'id', 'name'),
                           {class: 'form-control give-me-focus',
                            required: true,
                            autofocus: true,
                            title: "Choose a tree",
                            tabindex: increment_tab_index}) %>
          </label>

          <label>Name this draft
            <input class="form-control" id="draft_name" name="draft_name" type="text"
                   placeholder="e.g. November 2022" title="Enter a name for this draft, e.g. minor edits"/>
          </label>
        </div>

        <div class="form-group">
          <label for="draft_log">Description / work log</label>
          <textarea class="form-control"
                    title="Description of work to carry out"
                    id="draft_log" name="draft_log" rows="10"></textarea>
        </div>

        <div class="form-group">
          <label class="form-inline">Default draft
            <input class="form-control" id="default_draft" name="default_draft" type="checkbox"
                   title="check to make the default draft"/>
          </label>
        </div>

        <div>&nbsp;
          <button id="tree-form-cancel" type="button" class="btn btn-default left">Cancel <i
          class="fa fa-hand-o-left"></i></button>
          <button id="create-draft-submit" type="submit"
                  class="btn btn-primary right"
                  onclick="$(this).find('i.fa').addClass('fa-spin')">Save <i class="fa fa-refresh"></i></button>
        </div>
      </form>
    </div>
    <div id="create-draft-message-container" class="message-container"></div>
    <div id="create-draft-error-message-container" class="message-container error"></div>

  </div>
</div>
