$('#movement-error-message-container').addClass('hidden').html('');
$('#update-name-placement-btn').find('i.fa').removeClass('fa-spin');

<% if @message %>
$('#movement-message-container')
    .removeClass('hidden')
    .html(markdown("<%= escape_javascript(@message.html_safe) %>"))
    .append('<button onclick="refreshTreeTab(event);">refresh</button>');
<% end %>

<% if @html_out %>
$('#movement-message-container')
    .removeClass('hidden')
    .append(markdown("<%= escape_javascript(@html_out.html_safe) %>"))
    .append('<button onclick="refreshTreeTab(event);">refresh</button>');
<% else %>
$('#instance-classification-tab').click();
<% end %>


