$('#placement-message-container').addClass('hidden').html("");
$('#placement-error-message-container')
    .removeClass('hidden')
    .html(markdown("<%= escape_javascript(@message.html_safe) %>"))
  .append('<button class="btn btn-default" onclick="refreshTreeTab(event);">refresh</button>');
$('#new_name_placement_btn').find('i.fa').removeClass('fa-spin');
linkNames('#placement-error-message-container');
