<div class='tree-row {{link.type.css}} {{treeNode.type.css}} {{treeScope.selectedNode == this ? "selected" : "not-selected"}}'>
	<div class='head'   data-edit-url="<%= instance_path(0) %>" data-row-type="tree" data-record-type="instance" data-name-id="{{node.nameUri.idPart}}" data-instance-id="{{node.taxonUri.idPart}}">
		<span class='handle' ng-if="error"><i class="fa fa-warning fa-fw"/></span>
		<span class='handle' ng-if="loading"><i class="fa fa-spinner fa-spin fa-fw"/></span>
		<span class='handle' ng-if="!loading && !hasSubnames">&nbsp;</span>
		<span class='handle' ng-if="!loading && hasSubnames && !loaded" style="cursor: pointer;" ng-click="reloadAndOpen()"><i class="fa fa-plus fa-fw"/></span>
		<span class='handle' ng-if="!loading && hasSubnames && loaded && !open" style="cursor: pointer;" ng-click="toggleSubnodes();"><i class="fa fa-plus fa-fw"/></span>
		<span class='handle' ng-if="!loading && hasSubnames && loaded && open" style="cursor: pointer;" ng-click="toggleSubnodes();"><i class="fa fa-minus fa-fw"/></span>
		<span 
			ng-bind-html="node.name.fullNameHtml" 
			class='name' 
			ng-click="treeScope.setSelected(this);" 
			ng-mouseover="treeScope.mouseoverNode(this);" 
			ng-mouseenter="treeScope.mouseenterNode(this);" 
			ng-mouseleave="treeScope.mouseleaveNode(this);" 
			style="cursor: pointer;"/>
			
	</div>
	
	<div ng-if="error" class='error'>Unable to load: {{error}}.</div>
	<div ng-if="hasSubnames" class='subnames'>
		<div ng-if="!loading">
			<div tree-block ng-show="open"/>
		</div>
		<div ng-if="loading">
			Loading&hellip;
		</div>
	</div>
</div>

