<div ng-if="loading && !loaded"><i class="fa fa-spinner fa-spin fa-fw"/>&nbsp;Loading {{treeLabel}}.</div>
<div ng-if="error"><i class="fa fa-warning fa-fw"/>&nbsp;Unable to load {{treeLabel}}: {{error}}.</div>
<div ng-if="loaded">
    <div style="font-size: smaller;">
		<span
                ng-repeat='node in path'
        >
    		&gt; <span
                ng-bind-html="node.name.simpleNameHtml"
                ng-click="fetchAndNavigateToName(node.name.id)"
                class='name'
                style="cursor: pointer;"/>
        </span>
        <span ng-if="loading"><i class="fa fa-spinner fa-spin fa-fw"/></span>
    </div>

    <div tree-block/>
</div>
