$('#validate-synonymy-content').html('<h3>Success</h3><p>Synonyms updated in draft. Refresh to see updated report.</p>');
$('#update_checked_synonymy').addClass('hidden').find('i.fa').removeClass('fa-spin');