debug('update draft tree');
$('div#search-result-details').html("<%= escape_javascript(h(render partial: 'edit_draft')) %>");
$('#edit-draft-message-container').html('<p>updated</p>');
<%= render("tree_form_cancel") %>
replaceDates();
