

  <div class="form-group">
    <label for="ex_base_author">Ex Base Author</label>
    <%= f.text_field(:ex_base_author, {class: 'form-control', title: 'Ex Base Author'}) %>
  </div>

  <div class="form-group">
    <label for="base_author">Base Author</label>
    <%= f.text_field(:base_author, {class: 'form-control', title: 'Base Author'}) %>
  </div>

  <div class="form-group">
    <label for="ex_author">Ex Author</label>
    <%= f.text_field(:ex_author, {class: 'form-control', title: 'Ex Author'}) %>
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <%= f.text_field(:author, {class: 'form-control', title: 'Author'}) %>
  </div>
