
  <div class="form-group">
    <label for="name_status">Name status</label>
    <%= f.select :name_status,
['', 'nom. inval., nom. nud.', 'orth. var.', 'nom. inval., nom. prov.',
'nom. inval., nom.nud.', 'nom. inval., nom. alt.', 'nom. inval., pro syn.',
'manuscript', 'nom. inval., pro. syn.', 'nom. inval., pro.', 'nom. cons.',
'nom. inval.', 'nom.', 'nom. illeg., nom. superfl.', 'nom. rej.', 'orth.',
'nom. illeg.', 'nom. cons., orth. cons.'].sort,
    {}, class: 'form-control',
      title: "Enter name status", tabindex: increment_tab_index %>
  </div>

