<div class="focus-details unsaved-record">
  <div id="new-orchid-form-container" class="new-record-form-container">
            
    <h4>New "Accepted" Orchid</h4>

    <hr>
    <% @orchid.record_type = 'accepted' %>
    <%= render partial: 'form_for_accepted', locals: {orchid: @orchid, record_types: ['accepted']} %>
  </div>
</div>
