<div class="focus-details unsaved-record">
  <div id="new-orchid-form-container" class="new-record-form-container">
            
    <h4>New Orchid</h4>

    <hr>
    <%= render partial: 'form' %>

  </div>
</div>
