
  <div class="form-group">
    <label for="synonym_type">Synonym type</label>
    <%= f.select :synonym_type, ['', 'heterotypic', 'homotypic'],
    {}, class: 'form-control',
    title: "Synonym type (only if record type is synonym)",
    tabindex: increment_tab_index %>
  </div>

