<h4>Delete Raw Orchid Record</h4>
<%= render 'delete_widgets' %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>


