<% increment_tab_index(0) %>
<h4>Batch</h4>

<h5>Create preferred matches for ...</h5>

<form accept-charset="UTF-8" action="/orchids/create/preferred/matches" data-remote="true" method="post">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <input name="taxon_string" type="text" value="<%= @orchid.taxon %>" class="xform-control" required title="taxon string for batch" />
  <input name="submit" type="submit" value="Submit" class="btn btn-primary width-5em" title="Submit the form" />
</form>

<%= divider %>

<h5>Create instances for preferred matches for ...</h5>

<form accept-charset="UTF-8" action="/orchids/create/instances/for/preferred/matches" data-remote="true" method="post">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <input name="taxon_string" type="text" value="<%= @orchid.taxon %>" class="xform-control" required title="taxon string for batch" />
  <input name="submit" type="submit" value="Submit" class="btn btn-primary width-5em" title="Submit the form" />
</form>

<%= divider %>

<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 
