<% unless @orchid.accepted? %>
  Not an accepted raw taxon, so you cannot create a misapp for it.
<% else %>
  <h4>Create Orchid misapp for <%= @orchid.taxon %></h4>
  <% orchid = Orchid.new %>
  <% orchid.parent_id = @orchid.id %>
  <% orchid.record_type = 'misapplied' %>
  <% orchid.seq = @orchid.seq + 1 %>
  <%= render partial: 'form_for_misapp', locals: {orchid: orchid} %>
<% end %>

