<% unless @orchid.accepted? %>
  Not an accepted raw taxon, so you cannot create a synonym for it.
<% else %>
  <h4>Create Orchid synonym for <%= @orchid.taxon %></h4>
  <% orchid = Orchid.new %>
  <% orchid.parent_id = @orchid.id %>
  <% orchid.record_type = 'synonym' %>
  <% orchid.seq = @orchid.seq + 1 %>
  <%= render partial: 'form_for_synonym', locals: {orchid: orchid} %>
<% end %>

