<h4>Name Matches: <%= name_match_count = @orchid.names_simple_name_matching_taxon.size %></h4>
<% unless @orchid.alt_taxon_for_matching.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.alt_taxon_for_matching, label: 'alternative taxon for matching'} %>
  <br>
<% end %>
<% if @orchid.names_simple_name_matching_taxon.empty? %>
  <div class="bggray big-vertical-padding" ><h4 class="white">No Matching Names</h4></div>
<% end %>
<% if name_match_count > 0 %>
  <% if name_match_count > 1 %>
    <div class="bggray big-vertical-padding" ><h4 class="white">Too Many Matching Names</h4></div>
  <% end %>
<% end %>
<% if @orchid.exclude_from_further_processing? %>
  <div class="bggray big-vertical-padding" ><h4 class="white">No Further Processing</h4></div>
<% end %>
<% if @orchid.try('parent').try('exclude_from_further_processing?') %>
  <div class="bggray big-vertical-padding" ><h4 class="white">No Further Processing via parent</h4></div>
<% end %>

<% if @orchid.misapplied? %>
  <%= render partial: 'tab_show_1_name_matches_misapplied', locals: {name_match_count: name_match_count} %>
<% else %>
  <%= render partial: 'tab_show_1_name_matches_standard', locals: {name_match_count: name_match_count} %>
<% end %>


<span id="search-result-details-info-message-container" class="message-container"></span>
<span id="search-result-details-error-message-container" class="error-container"></span>
