<h4>Names plus instances advanced search</h4>
<br>
<br>
<div id="advanced-search-name-form-container" class="">
  <form class="form-inline advanced">

    <%= render partial: 'names/advanced_search/form' %>
    <input type="button" onclick="window.loadNameToString()" value="Search" title="Run the search"/>

  </form>
</div>

<script> <!-- captureSearch(); --> </script>
