<div id="example-search-name" class="example-search-tab">
<h4>Names plus instances examples</h4>
<br>
<br>
<% excc = %Q(<span class="purple" title="Excluding common and cultivar names by default.">EXCC</span>) %>
<% incc = %Q(<span class="purple" title="Including common and cultivar names.">INCC</span>) %>
<h5 class="">List or count names and show any instances</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Names plus instances', search_string: "casuarina",explanation: %Q(List names starting with "casuarina".  Bare search is on names. 100 records is the default limit.)},
    {search_target: 'Names plus instances', search_string: "count casuarina",explanation: %Q(List names starting with "casuarina".  Bare search is on names. Counts are not limited.)},
    {search_target: '', search_string: "",explanation: %Q(Note that even some counts can take a long time, depending on the number of names returned in the initial search.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


</div>


