<h4>Names plus instances help</h4>
<p/>Shows each name in alphabetical order with synonymy.
<p/>Search for the names using the same fields and rules as for general name searching.
<p/>Note that sometimes the limit will be slightly exceeded due to the block nature of the query.
<br>
<br>
<%= render partial: 'names/advanced_search/common_and_cultivar_help' %>
<br>
<br>
<%= render partial: 'names/advanced_search/field_help' %>

