  <div class="form-group base-author">
    <label for="base-author-by-abbrev">Base Name Author</label><br>
    <input id="base-author-by-abbrev"
           name="name[base_author_typeahead]"   
           class="typeahead form-control"
           type="text" 
           title="Base Name Author field. Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.base_author.try('abbrev_if_possible') %>"/>
  </div>
  <%= f.hidden_field(:base_author_id) %>

