

  <div class="form-group">
    <label for="ex-author-by-abbrev">Ex Author</label><br>
    <input id="ex-author-by-abbrev"
           name="name[ex_author_typeahead]"   
           class="typeahead form-control"
           type="text" 
           title="Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.ex_author.try('abbrev_if_possible') %>"/>
  </div>
  <%= f.hidden_field(:ex_author_id) %>

