<div class="form-group">
  <label for="ex-base-author-by-abbrev">Ex Base Name Author</label><br>
  <input id="ex-base-author-by-abbrev"
         name="name[ex_base_author_typeahead]"
         class="typeahead form-control"
         type="text"
         title="Ex Base Name Author field. Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
         tabindex="<%= increment_tab_index %>"
         value="<%= @name.ex_base_author.try('abbrev_if_possible') %>"/>
<p>[For all author fields, use standard abbreviations]</p>
</div>
<%= f.hidden_field(:ex_base_author_id) %>
