
  <div class="form-group">
    <label for="name_status_id">Status*</label>
    <%= select('name','name_status_id',@name.status_options,{include_blank: false}, title: 'Select status', tabindex: increment_tab_index, autocomplete: "off", class:"form-control", disabled: false, required: true) %>
  </div>


