  <div class="form-group margin-top-1em">
    <label for="name_type_id">Type*</label>
    <% if @name.category_for_edit.only_one_type? %>
      <%= f.select('name_type_id',
                   NameType.options_for_category(@name.category_for_edit),
                   {prompt: 'Choose one'},
                   title: 'Select type',
                   tabindex: increment_tab_index,
                   autocomplete: "off",
                   class: "form-control give-me-focus",
                   required: true) %>
    <% else %>
      <%= f.select('name_type_id',
                   NameType.options_for_category(@name.category_for_edit),
                   {},
                   title: 'Select type',
                   tabindex: increment_tab_index,
                   autocomplete: "off",
                   class: "form-control give-me-focus",
                   required: true) %>
    <% end %>
  </div>
