
<% if @name.takes_published_year? %>
  <div class="form-group">
    <label for="">Year Published</label><br>
    <input id="published_year"
           name="name[published_year]"   
           class="typeahead form-control" 
           type="text"
           title="Year in which this name was published.  4-digit years are acceptable.  The year published may be part of full name."
           tabindex="<%= increment_tab_index %>"
           data-name-id="<%= @name.id %>"
           value="<%= @name.published_year %>"/>
  </div>
<% end %>

