<select id="name-advanced-search-name-type-options" class="form-control" title="Name type options. Comma-separated list. Or wildcard." >
<option class="" value=""></option>
<optgroup label="Scientific">
<option class="" value="autonym">autonym</option>
<option class="" value="hybrid autonym">hybrid autonym</option>
<option class="" value="hybrid formula parents known">hybrid formula parents known</option>
<option class="" value="hybrid formula unknown 2nd parent">hybrid formula unknown 2nd parent</option>
<option class="" value="intergrade">intergrade</option>
<option class="" value="named hybrid">named hybrid</option>
<option class="" value="named hybrid autonym">named hybrid autonym</option>
<option class="" value="phrase name">phrase name</option>
<option class="" value="sanctioned">sanctioned</option>
<option class="" value="scientific">scientific</option>
</optgroup>
<optgroup label="Cultivars">
<option class="" value="cultivar">cultivar</option>
<option class="" value="cultivar hybrid">cultivar hybrid</option>
<option class="" value="cultivar hybrid formula">cultivar hybrid formula</option>
<option class="" value="graft/chimera">graft/chimera</option>
</optgroup>
<optgroup label="Common, informal">
<option class="" value="common">common</option>
<option class="" value="informal">informal</option>
</optgroup>
<optgroup label="Other">
<option class="" value="[default]">[default]</option>
<option class="" value="[n/a]">[n/a]</option>
<option class="" value="[unknown]">[unknown]</option>
</optgroup>
</select>

