
<div class="typeahead-container w70-30">
  <%= render partial: 'typeahead_field', 
             locals: {value: @reference.author.try('name'),
                      input_field_id: 'reference-author-id-typeahead',
                      input_field_placeholder: 'Author',
                      input_field_label: 'author'} %>
</div>

<script> setUpReferenceAuthor(); </script>

<%= form_for(@reference, 
             url: reference_path(@reference), 
             remote: true, 
             html:{class:"edit-form",
                     data: {type: :json,
                            typeahead_field: 'reference-author-id-typeahead'} 
                     }) do |f| %>

  <%= hidden_field(:reference,
                   :author_id,
                   class:'save-on-blur')
  %>
<% end %>


