<div class="focus-details unsaved-record">
  <div id="new-reference-form-container" class="new-record-form-container">
            
    <h4>New Reference</h4>
    <div class="error-message-container"></div>
    <div id="search-result-details-info-message-container" class="message-container"></div>
    <div id="search-result-details-error-message-container" class="message-container"></div>
    <%= render partial: 'form' %>

  </div>
</div>
