<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="clear-query-field">Clear query field</a></li>
<li class="divider"></li>
<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Use a reference criterion</a>
  <ul class="dropdown-menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="a: ">Author name - a:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="apni: ">APNI ID - apni:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="pt: ">Parent title - pt:</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="rt: ">Reference Type - rt:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="pd: ">Publication date - nt:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="sa: ">Standard abbreviation - nr:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="t: ">Title - t:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="v: ">Volume - v:</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="append-to-query-field" data-value="y: ">Year - y:</a></li>
  </ul>
</li>


<li class="divider"></li>

<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Use a reference type</a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: book">Book</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: chapter">Chapter</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: index">Index</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: database">Database</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: database record">Database record</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: herbarium annotation">Herbarium annotation</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: journal">Journal</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: paper">Paper</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: personal communication">Personal communication</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: section">Section</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: series">Series</a></li>
    <li><a tabindex="-1" href="#" class="append-to-query-field" data-value="rt: unknown">Unknown</a></li>
  </ul>
</li>

