
<% increment_tab_index(0) %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<%= render partial: 'instances/form_create_from_reference' %>
<br>
<div class="hidden instance-form-success-message">
  <%#= link_to("Query the new instance in name context.", 
              search_path(query_on: 'instance', query_field: 'name-instances', query: @instance.name_id), class: 'green' ) %>
</div>
