
<div class="error-message-container"></div>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<div id="tab-form-container">
  <%= render 'form_2' %>
<div>
