<h4>Tree search examples</h4>

<table class="example-searches table table-striped">
  <% [
      {search_target: 'Tree', search_string: "91755",explanation: %Q(Tree for Angophora costata (Gaertn.) Britten.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>


