<h4>Tree search</h4>
<p/>
Tree search is mainly designed to support the "APC tree" link on Name details.
<p/>
<p/>Example:
<p/> <%= image_tag('tree-search-link.png') %> 
<p/>
<p/>
It requires a single Name ID argument.
<p/>
<p/>Tree search is run outside the Editor via a "Service".
<p/>
<p/>It will display a loading message:
<p/> <%= image_tag('tree-search-loading.png') %> 
<p/>
<p/>It will then display the tree fragment with links to other parts of the tree:
<p/> <%= image_tag('tree-search-result.png') %> 
<p/>
<p/>Tree searches are not recorded in the search history.



