<div id="advanced-search-instance-form-container" class="">

<table border="1" class="table advanced-form-table">
  <tr>
    <td class="align-right width-15-percent">
      <label for="list-or-count">List or count</label>
    </td>
    <td>
    <select id="list-or-count" name="list-or-count" class="form-control" tabindex="6">
        <option value='Count'>Count</option>
        <option value='List' selected>List</option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">Name</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">Reference Citation</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">That cite instance ID</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">Cited by Instance ID</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">For name ID</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">For reference ID</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">Comments</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">Comments by</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <label for="query-on">With note key</label>
    </td>
    <td>
      <input type="text" class="" id="" placeholder="">
    </td>
  </tr>
</table>

<br>
  <div class="pull-right">
      <%# We don't want button in URL - so use raw html to avoid including a name attribute. %>
      <input type="submit" 
             id="advanced-search-button"
             value="Search" 
             class='btn btn-primary search-button pull-right' 
             data-no-turbolink="true" 
             tabindex="9"
             title="Start searching"/>
  </div>

</div>
