<% unless @search.empty %>
  <% if @search.count %> 
    <%= "Count: #{pluralize(@search.results,'name')}.  " %>
    <% if @search.results == 0 %>
      Consider a trailing wildcard (*). 
    <% end %>
  <% else %>
    <% if @search.results.size == 0 %>
      No records found. Consider a trailing wildcard (*). 
    <% else %>
      <%= "#{pluralize(@search.results.size,'names')} shown." %>
    <% end %>
  <% end %>
  <% if @search.target_table.match(/name/i) && @search.common_and_cultivar_included %>
    <span id="includes-common-cultivar-notice">Search includes common and cultivar.</span>
  <% else %>
    <span id="excludes-common-cultivar-notice">Search excludes common and cultivar.</span>
  <% end %>
  <% if !@search.count && @search.results.size == @search.limit %>
    <span id="search-results-limited-notice">
      <%= "Limited." %>
    </span>
  <% else %>
    <% unless @search.results.size == 0 || @search.count %>
      <span id="search-results-all-matching-notice">
        <%= "All matching." %>
      </span>
    <% end %>
  <% end %>
<% end %>
