<% unless @search.empty %>
  <% if @search.count %> 
    <%= "Count: #{pluralize(@search.results,@search.target_table)}.  " %>
    <% if @search.results == 0 %>
      Consider a trailing wildcard (*). 
    <% end %>
  <% else %>
    <% if @search.results.size == 0 %>
      No records found. Consider a trailing wildcard (*). 
    <% else %>
      <%= "#{pluralize(@search.results.size,'records')} shown." %>
    <% end %>
  <% end %>
  <% if @search.target_table.match(/name/i) %>
    <% if @search.common_and_cultivar_included %>
      <span id="includes-common-cultivar-notice"></span>
    <% else %>
      <span id="excludes-common-cultivar-notice">Search excludes common and cultivar.</span>
    <% end %>
  <% end %>
  <% if !@search.count && @search.results.size == @search.limit %>
    <span id="search-results-limited-notice">
      <%= "Limited." %>
    </span>
  <% end %>
<% end %>
