<% unless @search.blank? %>

  <% if @search.count %> 
    <%= "#{pluralize(@search.results,'name')} found.  " %>
  <% else %>
    <% if @search.results.size == 0 %>
      No records found.
    <% else %>
      <%= "#{pluralize(@search.results.size,'record')} found." %>
    <% end %>
  <% end %>
    <% if @search.target_table.match(/name/i) && @search.common_and_cultivar_included %>
      <span id="includes-common-cultivar-notice">Includes common and cultivar names.</span>
    <% else %>
      <span id="excludes-common-cultivar-notice">Excludes common and cultivar names.</span>
    <% end %>
    <% if !@search.count && @search.results.size == @search.limit %>
      <span id="search-results-limited-notice">
        <%= "Results limited to #{@search.limit} records." %>
      </span>
    <% end %>
  <% end %>
