
*.blue           { color: blue; }
*.brown          { color: brown; }
*.darkgray       { color: darkgray; }
*.darkred        { color: darkred; }
*.darkslateblue  { color: darkslateblue; }
*.green          { color: green; }
*.orange         { color: orange }
*.purple         { color: purple; }
*.rebeccapurple  { color: #663399; }
*.red            { color: red; }
*.sienna         { color: sienna; }
*.white          { color: white; }
*.yellow         { color: yellow; }


*.hover-white:hover    {color: white}
a:hover.blue           { color: blue; }
