
*.blue           { color: blue; }
*.brown          { color: brown; }
*.gray           { color: gray; }
*.lightgray      { color: lightgray; }
*.darkgray       { color: darkgray; }
*.darkred        { color: darkred; }
*.darkslateblue  { color: darkslateblue; }
*.green          { color: green; }
*.orange         { color: orange }
*.purple         { color: purple; }
*.rebeccapurple  { color: #663399; }
*.red            { color: red; }
*.sienna         { color: sienna; }
*.white          { color: white; }
*.yellow         { color: yellow; }

/* Prevent full_name_html class setting color */
common element.blue {color: $nsl-theme-color;}
common element.brown {color: $nsl-theme-color;}
common element.gray {color: $nsl-theme-color;}
common element.green {color: $nsl-theme-color;}
common element.orange {color: $nsl-theme-color;}
common element.purple {color: $nsl-theme-color;}
common element.red {color: $nsl-theme-color;}
common element.sienna {color: $nsl-theme-color;}
common element.white {color: $nsl-theme-color;}
common element.yellow {color: $nsl-theme-color;}

.showing-details common element.blue {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.brown {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.gray {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.green {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.orange {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.purple {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.red {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.sienna {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.white {
  color: white;
  background-color: $nsl-showing-details-background;
}
.showing-details common element.yellow {
  color: white;
  background-color: $nsl-showing-details-background;
}

*.bgblue           { background-color: blue; }
*.bgbrown          { background-color: brown; }
*.bggray           { background-color: gray; }
*.bglightgray      { background-color: lightgray; }
*.bgdarkgray       { background-color: darkgray; }
*.bgdarkred        { background-color: darkred; }
*.bgdarkslateblue  { background-color: darkslateblue; }
*.bggreen          { background-color: green; }
*.bgorange         { background-color: orange }
*.bglavender       { background-color: lavender; }
*.bgpurple         { background-color: purple; }
*.bgmediumpurple   { background-color: mediumpurple; }
*.bgrebeccapurple  { background-color: #663399; }
*.bgred            { background-color: red; }
*.bgsienna         { background-color: sienna; }
*.bgwhite          { background-color: white; }
*.bgyellow           { background-color: yellow; }


*.hover-white:hover    {color: white}
a:hover.blue           { color: blue; }

/*
*.name,name-hover {color: darkgreen;}
*.ref,ref-hover  {color: brown;}
* .instance,.instance-hover {color: darkslateblue;}
*.author,author-hover {color: darkblue;}
*/
