input {
  background-color: white;
  color: black;
}

.buttonish {
  display: inline-block;
  width: 70px;
  padding-top: 9px;
  padding-bottom: 4px;
  text-align: center;
  text-decoration: none;
  font-family: helvetica, arial, sons-serif;
  font-size: 11px;
  font-weight: 700;
  cursor: default;
}

.buttonish:focus {
  border: none;
  outline: 1px solid blue;
}

.buttonish.dangerous {
  color: white;
  background-color: #d14836;
  background-image: -moz-linear-gradient(center top, #dd4b39, #d14836);
  border: 1px solid transparent;
  text-transform: uppercase;
}

.buttonish.prominent {
  color: white;
  background-color: blue;
  background-image: -moz-linear-gradient(center top, darkgray, gray);
  border: 1px solid transparent;
  text-transform: uppercase;
}

.buttonish.secondary {
  color: #515151;
  background-image: -moz-linear-gradient(center top, #f5f5f5, #f2f2f2);
  border: 1px solid gray;
}

.buttonish.prominent:hover {
  text-decoration: none;
  color: white;
  background-color: darkgray;
  background-image: -moz-linear-gradient(center top, darkgray, gray);
  box-shadow: 0 3px 3px #888;
}

.buttonish.secondary:hover {
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#menubar a:hover {
  background: darkgray;
}

#menubar h1 a:hover {
  background-color: darkgray;
}

#menubar h1 {
  position: relative;
  top: -5px;
}

#menubar h1 a {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
}

form#new-name-form input#name-string {
  width: 35em;
}

.form-container {
  text-align: left;
  color: red;
}

label.above-field {
  text-align: left;
  color: gray;
}

#reference-title {
  display: block;
}

form.form-stacked div.field {
  padding-top: 8px;
}

tr.search-result {
  cursor: pointer;
}

.no-click {
  cursor: auto;
}

input.changed.not-saved,
select.changed.not-saved,
textarea.changed.not-saved {
  border-color: blue;
}

input[type='checkbox'].changed.not-saved {
  box-shadow: 1px 1px 1px 1px blue;
}

input.changed.saved,
select.changed.saved,
textarea.changed.saved {
  border-color: green;
}

input[type='checkbox'].changed.saved {
  box-shadow: 1px 1px 1px 1px green;
}

input.changed.not-saved.error,
select.changed.not-saved.error,
textarea.changed.not-saved.error {
  border-color: red;
}

input[type='checkbox'].not-saved.error {
  box-shadow: 1px 1px 1px 1px red;
}

select {
  height: 23px;
  line-height: 23px;
}

input[type='submit'].btn {
  cursor: default;
}

// Remove blue flare in chrome, safari.
// http://stackoverflow.com/questions/1457849/how-do-i-disable-the-highlight-border-on-an-html-input-text-element

// Necessary to prevent the lagging outline as you arrow up and down the tr.search-results rows.
tr:focus {
  outline: 0;
}

select:focus,
a.tab:focus {
  outline: gray solid 1px;
}

button:focus,
input.btn.btn-primary:focus,
a.btn.btn-primary:focus {
  text-decoration: underline;
}

textarea:focus,
input:focus {
  outline: gray solid 2px;
  color: black;
}

li a:focus,
input.btn:focus,
a.btn:focus {
  outline: none;
}

// Remove blue glow on input fields in Firefox.
// http://mentalized.net/journal/2011/03/30/removing_focus_outlines/

tr:focus a,
li a.tab:focus {
  text-decoration: underline;
}

form.edit-form input {
  display: inline;
}

form#search-form {
  margin-top: 0;
  padding-right: 0;
}

form#search-form input#query {
  height: 1.8em;
}

input[type=checkbox].css-checkbox {
  display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 35px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -30px;
}

label.css-label {
  background-image: image-url("csscheckbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0.3em !important;
}

input[type=checkbox].exclude-checkbox {
  display: none;
}

//input[type=checkbox].exclude-checkbox:checked + label.css-label {
//  color: red;
//  font-weight: bold;
//  padding-right: 0.5em;
//  font-family: FontAwesome;
//  content: "\f05e";
//}

input[type=checkbox].exclude-checkbox + label.exclude-label:before {
  font-family: FontAwesome;
  display: inline-block;
}

/* unchecked icon */
input[type=checkbox].exclude-checkbox + label.exclude-label:before {
  color: grey;
  font-weight: bold;
  content: "\f10c";
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 0.3em !important;
}

/* checked icon */
input[type=checkbox].exclude-checkbox:checked + label.exclude-label:before {
  color: red;
  font-weight: bold;
  content: "\f05e";
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 0.3em !important;
}

button.clear-area {
  margin-top: 0px;
  margin-bottom: 3px;
  display: inline-block;
  float: right;
}

a.no-highlight button:focus {
  text-decoration:underline;
  outline: 5px;
}

.day-of-month-field {
  width: 4rem;
}

.year-field {
  width: 6rem;
}

.month-select {
    line-height: 1.3;
    height: 1.8em;
    box-sizing: border-box;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background-color: #fff;
}

.btn-slim {
  padding-left: 8px;
  padding-right: 8px;
  height: 17px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
