
body.development div#big-navbar { background: $development-color; }
body.development div#first-navbar { background: $development-color; }
body.development ul.navbar-nav li.dropdown { background: $development-color; }
body.development ul.navbar-nav li a.dropdown-toggle { background: $development-color; }
body.development div#searchbar { background: $development-color; }
body.development div#search-summary { background: $development-color; }

body.test div#big-navbar { background: $test-color; }
body.test div#first-navbar { background: $test-color; }
body.test ul.navbar-nav li.dropdown { background: $test-color; }
body.test ul.navbar-nav li a.dropdown-toggle { background: $test-color; }
body.test div#searchbar { background: $test-color; }
body.test div#search-summary { background: $test-color; }

body.staging div#big-navbar { background: $staging-color; }
body.staging div#first-navbar { background: $staging-color; }
body.staging ul.navbar-nav li.dropdown { background: $staging-color; }
body.staging ul.navbar-nav li a.dropdown-toggle { background: $staging-color; }
body.staging div#searchbar { background: $staging-color; }
body.staging div#search-summary { background: $staging-color; }

