ul#search-results-tabset {
  position: fixed;
  top: 112px;
  left: 0px;
  margin-left: 12px;
}

ul#search-results-tabset li a {
  line-height: 7px;
  color: white;
}

ul#search-results-tabset li a:focus,
ul#search-results-tabset li a:hover {
  color: black;
}

ul#search-results-tabset li a {
  border: 1px solid white;
}

ul#search-results-tabset li.active a {
  line-height: 7px;
  color: black;
}

ul#advanced-search-tabset {
  position: fixed;
  top: 172px;
  left: 12px;
}

div#advanced-search-inner {
  width: 80%;
  position: fixed;
  top: 200px;
  left: 12px;
  overflow: auto;
  min-height: 300px;
  height: 80%;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

div#advanced-search-settings-container {
  width: 14%;
  position: fixed;
  top: 200px;
  right: 12px;
}

ul#advanced-search-tabset li a {
  line-height: 7px;
}

div#advanced-search-container {
  top: 150px;
}

div#advanced-search {
  padding-left: 5px;
}

table.advanced-form-table {
  margin-top: 20px;
}

div.scrollable-container {
  overflow: hidden;
  padding-right: 1em;
  margin-right: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

div#example-search-inner {
  width: 90%;
  position: fixed;
  top: 160px;
  left: 12px;
  overflow: auto;
  min-height: 300px;
  height: 80%;
  margin-bottom: 1em;
}

div.reports-inner {
  width: 98%;
  position: relative;
  top: 0px;
  left: 12px;
  min-height: 300px;
  //margin-bottom: 4em;
  margin-right: 1em;
}

#new-search-field {
}

.closer:hover {
  cursor: pointer;
}

#new-search-field {
}

.closer:hover {
  cursor: pointer;
}

div#search-summary-row {
  max-height: 40px;
}

div#search-summary {
  height: 25px;
  max-height: 25px;
}

div#search-target-btn.input-group-btn {
  width: 5%;
}

span#set-include-common-and-cultivar {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}

span#set-include-common-and-cultivar:hover,
span#set-include-common-and-cultivar:hover a,
ul.navbar-nav li a.dropdown-toggle:hover,
ul.navbar-nav li a.dropdown-toggle:focus {
  color: black;
  background: white;
}

.search-btn {
  background: lightgrey;
  color: black;
}

.search-btn:hover,
.search-btn:focus {
  background: white;
  color: black;
}

form.advanced input[type="text"] {
  color: blue;
}

.search-tab {
  height: 100%;
  min-height: 800px;
  overflow-y: scroll;
  height: 900px;
  min-height: 900px;
  padding-bottom: 4em;
  margin-bottom: 8em;
}

.full-name-within-instance {
  color: rgb(2, 60, 110);
  font-weight: normal;
}
