div#search-results-inner,
div.search-examples,
div.search-help {
  padding-bottom: 6em;
}
div.search-reports {
  padding-bottom: 8em;
  color: purple;
}
div.search-advanced {
  padding-bottom: 16em;
  margin-bottom: 26em;
}


