
span.media-spec {
  display: none;
}

.nsl-btn-navbar {
  display: none;
}

div.main {
  padding-left: 20px;
}

@media screen and (min-width: 1200px) {
  #media-width-1200px- {
    display: inline;
  }
  div.main {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  #media-width-1000px-1199px {
    display: inline;
  }
  div.main {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1000px) {
  #media-width-1000px {
    display: inline;
  }
  div.main {
    padding-left: 0px;
  }
  a.btn.btn-navbar {
	display: none;
  }
  .main-sidebar > .sidebar-nav {
    display: none;
  }
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .toolbar {
    width: 97%;
    margin-right: 0em;
    padding-top: 0;
  }
  .navbar.navbar-fixed-top {
    margin-bottom: 0;
    max-height: 50px;
    height: 50px;
    margin-left: 1px;
  }
  .btn-navbar {
    position: absolute;
    top: 0;
    right: 10px;
  }

  div.Xsearch-form {
    position: absolute;
    top: 10px;
    left: 30px;
  }
}

@media (max-width: 1000px) {
  #media-max-width-1000px {
    display: inline;
  }
  .nsl-btn-navbar {
    display: inline;
    background: white;
  }
}

@media screen and (min-height: 1201px) {
  #media-min-height-1201 {
    display: inline;
  }
  div.main.row {
    max-height: 940px;
    height: 940px;
  }
  div.main-content {
    max-height: 940px;
    height: 940px;
  }
  div#search-results {
    max-height: 890px;
    height: 890px;
  }
}

@media screen and (min-height: 1151px) and (max-height: 1200px) {
  #media-height-1151-1200 {
    display: inline;
  }
  div.main.row {
    max-height: 940px;
    height: 940px;
  }
  div.main-content {
    max-height: 940px;
    height: 940px;
  }
  div#search-results {
    max-height: 890px;
    height: 890px;
  }
}

@media screen and (min-height: 1101px) and (max-height: 1150px) {
  #media-height-1101-1150 {
    display: inline;
  }
  div.main.row {
    max-height: 920px;
    height: 920px;
  }
  div.main-content {
    max-height: 920px;
    height: 920px;
  }
  div#search-results {
    max-height: 870px;
    height: 870px;
  }
}


@media screen and (min-height: 1051px) and (max-height: 1100px) {
  #media-height-1051-1100 {
    display: inline;
  }

  div.main.row {
    max-height: 870px;
    height: 870px;
  }
  div.main-content {
    max-height: 870px;
    height: 870px;
  }
  div#search-results {
    max-height: 820px;
    height: 820px;
  }
}

@media screen and (min-height: 1001px) and (max-height: 1050px) {
  #media-height-1001-1050 {
    display: inline;
  }

  div.main.row {
    max-height: 820px;
    height: 820px;
  }
  div.main-content {
    max-height: 820px;
    height: 820px;
  }
  div#search-results {
    max-height: 770px;
    height: 770px;
  }
}

@media screen and (min-height: 951px) and (max-height: 1000px) {
  #media-height-951-1000 {
    display: inline;
  }

  div.main.row {
    max-height: 770px;
    height: 770px;
  }
  div.main-content {
    max-height: 770px;
    height: 770px;
  }
  div#search-results {
    max-height: 720px;
    height: 720px;
  }
}


@media screen and (min-height: 901px) and (max-height: 950px) {
  #media-height-901-950 {
    display: inline;
  }

  div.main.row {
    max-height: 730px;
    height: 730px;
  }
  div.main-content {
    max-height: 730px;
    height: 730px;
  }
  div#search-results {
    max-height: 680px;
    height: 680px;
  }
}


@media screen and (min-height: 851px) and (max-height: 900px) {
  #media-height-851-900 {
    display: inline;
  }

  div.main.row {
    max-height: 620px;
    height: 620px;
  }
  div.main-content {
    max-height: 620px;
    height: 620px;
  }
  div#search-results {
    max-height: 580px;
    height: 580px;
  }
}

@media screen and (min-height: 801px) and (max-height: 850px) {
  #media-height-851-900 {
    display: inline;
  }

  div.main.row {
    max-height: 570px;
    height: 570px;
  }
  div.main-content {
    max-height: 570px;
    height: 570px;
  }
  div#search-results {
    max-height: 530px;
    height: 530px;
  }
}



@media screen and (min-height: 751px) and (max-height: 800px) {
  #media-height-751-800 {
    display: inline;
  }

  div.main.row {
    max-height: 520px;
    height: 520px;
  }
  div.main-content {
    max-height: 520px;
    height: 50px;
  }
  div#search-results {
    max-height: 490px;
    height: 490px;
  }
}

@media screen and (min-height: 701px) and (max-height: 750px) {
  #media-height-701-750 {
    display: inline;
  }
  div.main.row {
    max-height: 470px;
    height: 470px;
  }
  div.main-content {
    max-height: 470px;
    height: 470px;
  }
  div#search-results {
    max-height: 420px;
    height: 420px;
  }
}

@media screen and (min-height: 651px) and (max-height: 700px) {
  #media-height-651-700 {
    display: inline;
  }
  div.main.row {
    max-height: 450px;
    height: 450px;
  }
  div.main-content {
    max-height: 450px;
    height: 450px;
  }
  div#search-results {
    max-height: 410px;
    height: 410px;
  }
}

@media screen and (min-height: 601px) and (max-height: 650px) {
  #media-height-601-650 {
    display: inline;
  }
  div.main.row {
    max-height: 400px;
    height: 400px;
  }
  div.main-content {
    max-height: 400px;
    height: 400px;
  }
  div#search-results {
    max-height: 360px;
    height: 360px;
  }
}

/* ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #media-ipad {
    display: inline;
  }
  body, input, button, select, textarea, #search-result-details {
    font: normal 80% Verdana,"Bitstream Vera Sans",sans-serif;
  }
  div.main.row,
  div.main-content {
    max-height: 300px;
    height: 300px;
  }

  div#search-results {
    max-height: 160px;
    height: 160px;
    overflow: scroll;
  }
  #main-content {
    width: 300px;
  }

  .main-sidebar > .sidebar-nav {
    display: none;
  }

}

@media screen and (min-height: 551px) and (max-height: 600px) {
  #media-height-551-600 {
    display: inline;
  }
  div.main.row {
    max-height: 350px;
    height: 350px;
  }
  div.main-content {
    max-height: 350px;
    height: 350px;
  }
  div#search-results {
    max-height: 310px;
    height: 310px;
  }
}

@media screen and (min-height: 501px) and (max-height: 550px) {
  #media-height-501-550 {
    display: inline;
  }
  div.main.row {
    max-height: 300px;
    height: 300px;
  }
  div.main-content {
    max-height: 300px;
    height: 300px;
  }
  div#search-results {
    max-height: 260px;
    height: 260px;
  }
}


@media screen and (min-height: 451px) and (max-height: 500px) {
  #media-height-451-500 {
    display: inline;
  }
  div.main.row {
    max-height: 250px;
    height: 250px;
  }
  div.main-content {
    max-height: 250px;
    height: 250px;
  }
  div#search-results {
    max-height: 210px;
    height: 210px;
  }
}


@media screen and (max-height: 450px) {
  #media-height-max-450 {
    display: inline;
  }
  div.main.row {
    max-height: 200px;
    height: 200px;
  }
  div.main-content {
    max-height: 200px;
    height: 200px;
  }
  div#search-results {
    max-height: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  #media-width-800px-1000px {
    display: inline;
  }
  div.main {
    padding-left: 0px;
  } 

}


/* @media screen and (min-width: 768px)  {  */
  #screen-too-small-msg {
    display: none;
  }

@media screen and (min-width: 480px) and (max-width: 767px)  { 
  #media-screen-xs { display: inline; background: rgba(255, 0, 0, 0.6); } // red
  form#search-form div.input-group {
    width: 70%;
  }
  #query-limit {
    width: 7em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #query-on {
    display: inline-block;
    width: 8em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #query-field {
    display: inline-block;
    width: 10em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  form#search-form div#search-form-input-group.input-group {
    width: 100%;
  }
  div#search-result-details {
    width: 38%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px)  { 
  #media-screen-sm { display: inline; background: rgba(255, 192, 203, 0.6); } // pink
  div#search-result-details {
    width: 44%;
  }
  /* font-size is different on iPad Safari, compared to equivalent size browser window. */
  /* We could change it here, but that affects browser-on-Mac etc. */
  #search-result-details span.field-label.has-data,
  #search-result-details label.field-label.has-data,
  #search-result-details *.field-label,
  #search-result-details label.field-label,
  #search-result-details label.inline.pull-right {
	  font-size: 1.0em;
  }
  div#search-results {
    height: 650px;
    min-height: 650px;
    margin-top: 8px;
  }
  input#search-field.form-control {
    width: 100%;
  }
  #query-limit {
    width: 8em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #query-on {
    width: 7em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #query-field {
    width: 8em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  div#search-form-input-group {
    width: calc(100% - 242px)
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) { 
  #media-screen-md { display: inline; background: rgba(244, 164, 96, 0.6); } // sandyBrown
  div#search-result-details {
    width: 36%;
  }
  div#search-result-details.orchids {
    width: 55%;
    max-width: 900px;
  }
  /* font-size is different on iPad Safari, compared to equivalent size browser window. */
  /* We could change it here, but that affects browser-on-Mac etc. */
  #search-result-details span.field-label.has-data,
  #search-result-details label.field-label.has-data,
  #search-result-details *.field-label,
  #search-result-details label.field-label,
  #search-result-details label.inline.pull-right {
	  font-size: 1.0em;
  }
  div#search-results {
    height: 415px;
    min-height: 415px;
    margin-top: 8px;
  }
  input#search-field.form-control {
    width: 100%;
  }
  input#search-field.form-control {
    width: 100%;
  }
  #query-limit {
    width: 8em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #query-on {
    width: 7em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #query-field {
    width: 8em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  div#search-form-input-group {
    width: calc(100% - 242px)
  }
}

/* lg */
@media screen and (min-width: 1200px) and (max-width: 1399px) { 
  #media-screen-lg { display: inline; background: rgba(153, 153, 255, 0.6); } // mediumpurple
  div#search-result-details {
    width: 36%;
  }
  div#search-result-details.orchids {
    width: 55%;
    max-width: 900px;
  }
  input#search-field.form-control {
    width: 100%;
  }
  div#search-form-input-group {
    width: calc(100% - 290px)
  }
}

/* lg */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  #media-screen-lg { display: inline; background: rgba(65, 105, 225, 0.6); } // royalBlue
  div#search-result-details {
    width: 36%;
  }
  div#search-result-details.orchids {
    width: 55%;
    max-width: 900px;
  }
  input#search-field.form-control {
    width: 100%;
  }
  div#search-form-input-group {
    width: calc(100% - 290px)
  }
}

/* lg */
@media screen and (min-width: 1600px)                        {
  #media-screen-lg { display: inline; background: rgba(152, 251, 152, 0.6) ; } // paleGreen
  div#search-result-details {
    width: 35%;
    max-width: 600px;
  }
  div#search-result-details.orchids {
    width: 55%;
    max-width: 900px;
  }
  input#search-field.form-control {
    width: 100%;
  }
  div#search-form-input-group {
    width: calc(100% - 290px)
  }

}


