#search-result-details {
  //-webkit-box-shadow: 0 2px 3px black;
  //-moz-box-shadow: 0 2px 3px black;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
  outline:none;
	overflow: hidden;
}

div.focus-details h1 {
  font-size: 18px;
}

#search-result-details h3 {
  font-size: 14px;
}

div.focus-details.freshly-created,
div.focus-details.fresh {
	background-color: #eef;
}

div.focus-details.losing-focus {
	background-color: #e2e2e2;
}

div.focus-details {
	max-height: 100%;
	height: 100%;
	overflow: auto;
  padding-left: 1em;
}

div.focus-details td.divider {
  background: white;
  max-height: 2px;
  height: 2px;
}

#search-result-details a.non-tab {
  text-align: left;
  text-decoration: none;
  height: 18px;
  margin-right: 0%;
  padding: 8px 5px 5px 5px;
}

#search-result-details a.non-tab:hover { 
  background-color: #d3d3d3;
  color: #66c;
}

#search-result-details a.non-tab:focus { 
  background-color: #d3d3d3;
}

#search-result-details a.non-tab:focus { 
  color: #d3d3d3;
}

a.active {
  background: white;
}

a.active:focus {
  background: yellow;
}

#search-result-details div.right-align {
	text-align: right;
}

#search-result-details .form-stacked {
	padding-left: 0;
}

#search-result-details textarea.flexible,
#search-result-details input.flexible {
	max-width: 97%;
	width: 97%;
	padding: 1px 1px 1px 2px;
}

#search-result-details textarea,
#search-result-details input {
	padding: 1px 1px 1px 2px;
}

#search-result-details select  {
	padding: 1px 1px 1px 1px;
}

#search-result-details *.field-description {
	padding-left: 2em;
	color: gray;
}

#search-result-details *.field-description:hover {
	padding-left: 2em;
	color: black;
}

#search-result-details span.field-label.no-data {
	color: #bbb;
}

#search-result-details span.field-label.has-data,
#search-result-details label.field-label.has-data,
#search-result-details *.field-label,
#search-result-details label.field-label,
#search-result-details label.inline.pull-right {
	color: gray;
	font-size: 1em;
	font-weight: normal;
}

#search-result-details *.field-description {
	color: lightgray;
}

#search-result-details span.field-data {
	color: black;
}

#search-result-details span.title {
	color: gray;
}

#search-result-details section {
	border-bottom: 1px inset lightgray;
}

#search-result-details label {
	margin-bottom: 0;
	line-height: 14px;
}

#search-result-details label.for-check-box {
  text-align: end;
  padding-top: 5px;
}

#search-result-details label.for-check-box:hover {
  background: lightgray;
}

table td.publication-date {
  white-space: nowrap;
}


tr.show-details span.stylish-checkbox:hover {
  background: darkgray;
}

tr.show-details:focus span.stylish-checkbox:hover {
  background: rgba(255,204,102,1.0);
}

input::-webkit-input-placeholder {
   color: rgba(197,190,184,1.0);
}

input:-moz-placeholder {  
   color: rgba(197,190,184,1.0);  
}

:-ms-input-placeholder {
    color: rgba(197,190,184,1.0);
}

table.entity-details {
  margin: 0 0 0 0;
  width: 98%;
}

table.entity-details td.info {
  min-width: 70%;
}

table.entity-details td.label {
  min-width: 30%;
  float: right;
  color: black;
}

ul.nav.nav-tabs {
  margin-bottom: 0.5em;
}

#search-result-details div.detail-line.underline > span {
  border-bottom: 1px solid #eee;
}


div.focus-details {
  padding-right: 1em;
}

div.focus-details hr.divider {
  height: 1px;
  background: #aaa;
  display: block;
}

span.server-response-time {
  display: none;
}

div#change-category-widgets {
  margin-top: 2em;
  margin-bottom: 2em;
}

