
.nsl-inline-block {
  position:relative;
  display:-moz-inline-box;
  display:inline-block
}


.stylish-checkbox {
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
  background-color:rgba(255,255,255,0.05);
  border:1px solid rgba(128,128,128,0.5);
  cursor:pointer;
  height:14px;
  width:14px;
  margin: 0 0 0 0;
  outline:0;
  vertical-align:text-bottom;
}

.stylish-checkbox-undetermined {
  background-color:rgba(231,231,231,0.7);
  border:1px solid #dcdcdc;
}

.stylish-checkbox-checked {
  background-color: #777;
}

div#big-navbar .stylish-checkbox-unchecked, 
tr.search-result.showing-details .stylish-checkbox-unchecked {
  border-color: white;
  background-color: white;
}

div.stylish-checkbox-unchecked div.stylish-checkbox-checkmark {
  border-color: white;
}


div#big-navbar .stylish-checkbox-checked, 
tr.search-result.showing-details .stylish-checkbox-checked {
  background-color: #404040;
  border-color: #404040;
}

div#big-navbar .stylish-checkbox-checked .stylish-checkbox-checkmark,
tr.search-result.showing-details .stylish-checkbox-checked .stylish-checkbox-checkmark {
  background-color: #404040;
}


div#big-navbar div.stylish-checkbox:focus, 
tr.search-result.showing-details div:focus {
  border: 2px solid #202020;
}

div.stylish-checkbox.stylish-checkbox-unchecked:focus {
  border: 2px solid #777;
}

div.stylish-checkbox.stylish-checkbox-checked:focus {
  border-color: #777;
  border-width: 3px;
}

.stylish-checkbox-hover {
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
  border:1px solid #c6c6c6
}

.stylish-checkbox-active {
  background-color:#ebebeb
}

.stylish-checkbox-focused {
  border:1px solid #4d90fe
}

.stylish-checkbox-disabled {
  background-color:#fff;
  border:1px solid #eee;
  cursor:default
}

.stylish-checkbox-checkmark {
  height:9px;
  outline:0;
  width:9px;
  left:5px;
  top: 5px;
  position:relative;
}

.stylish-checkbox-checked .stylish-checkbox-checkmark {
  background: gray;
  border: gray;
  /* background:image-url("icons_25.png") no-repeat -578px -3px*/  /* bootstrap glyphicons not available from deployed war file. */
}

.stylish-scrollbar::-webkit-scrollbar {
  background:transparent;
  overflow:visible;
  width:15px
}

.stylish-scrollbar::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,0.2);
  border:solid #fff
}

.stylish-scrollbar::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,0,0.4)
}

.stylish-scrollbar::-webkit-scrollbar-thumb:horizontal {
  border-width:4px 6px;
  min-width:40px
}

.stylish-scrollbar::-webkit-scrollbar-thumb:vertical {
  border-width:6px 4px;
  min-height:40px
}

body .stylish-scrollbar::-webkit-scrollbar-track-piece {
  background-color:#fff
}

.stylish-scrollbar::-webkit-scrollbar-corner {
  background:transparent
}

.stylish-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color:rgba(255,255,255,0.6)
}

.stylish-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color:rgba(255,255,255,0.8)
}

