
table#search-results-table tr td a .workspace-container {
  color: #a13911;
  padding: 0.2em;
  text-decoration: none;
}

table#search-results-table tr td a .apc-container {
  color: red;
  padding: 0.2em;
  text-decoration: none;
  padding: 0.2em 0.6em 0.2em 0.6em;
}

table#search-results-table tr.showing-details a .workspace-container,
table#search-results-table tr.showing-details a i.workspace-container {
  color: orange;
  padding: 0.2em 0.6em 0.2em 0.6em;
  text-decoration: none;
}

table#search-results-table tr.showing-details a span.workspace-container {
  background-position-y: 20%;
}

.focus-details span.workspace-container {
  color: orange;
  padding: 0.3em 0.6em 0.3em 0.6em;
  font-size: 14px;
}


table#search-results-table tr.showing-details a .apc-container,
table#search-results-table tr.showing-details a i.apc-container {
  color: red;
  padding: 0.2em 0.6em 0.2em 0.6em;
  text-decoration: none;
}

table#search-results-table tr.showing-details a span.apc-container {
  background-position-y: 20%;
}

div.focus-details span.apc-container,
.focus-details span.apc-container {
  color: red;
  padding: 0.2em 0.6em 0.2em 0.6em;
}

div.apc-apni-indicator-container {
  margin: 0.3em 0 0.3em 0;
}

