.width-0-percent { width: 0%;}
.width-1-percent { width: 1%;}
.width-2-percent { width: 2%;}
.width-3-percent { width: 3%;}
.width-4-percent { width: 4%;}
.width-5-percent { width: 5%;}
.width-6-percent { width: 6%;}
.width-7-percent { width: 7%;}
.width-8-percent { width: 8%;}
.width-9-percent { width: 9%;}
.width-10-percent { width: 10%;}
.width-11-percent { width: 11%;}
.width-12-percent { width: 12%;}
.width-13-percent { width: 13%;}
.width-14-percent { width: 14%;}
.width-15-percent { width: 15%;}
.width-16-percent { width: 16%;}
.width-17-percent { width: 17%;}
.width-18-percent { width: 18%;}
.width-20-percent { width: 20%;}
.width-25-percent { width: 25%;}
.width-30-percent { width: 30%;}
.width-40-percent { width: 40%;}
.width-50-percent { width: 50%;}
.width-60-percent { width: 60%;}
.width-65-percent { width: 65%;}
.width-66-percent { width: 66%;}
.width-70-percent { width: 70%;}
.width-71-percent { width: 70%;}
.width-72-percent { width: 70%;}
.width-73-percent { width: 70%;}
.width-74-percent { width: 70%;}
.width-75-percent { width: 70%;}
.width-80-percent { width: 80%;}
.width-85-percent { width: 85%;}
.width-90-percent { width: 90%;}
.width-91-percent { width: 91%;}
.width-92-percent { width: 92%;}
.width-93-percent { width: 93%;}
.width-94-percent { width: 94%;}
.width-95-percent { width: 95%;}
.width-96-percent { width: 96%;}
.width-97-percent { width: 97%;}
.width-98-percent { width: 98%;}
.width-99-percent { width: 99%;}
.width-100-percent { width: 100%;}
.width-150-percent { width: 150%;}


.max-width-0-percent { max-width: 0%;}
.max-width-1-percent { max-width: 1%;}
.max-width-2-percent { max-width: 2%;}
.max-width-3-percent { max-width: 3%;}
.max-width-4-percent { max-width: 4%;}
.max-width-5-percent { max-width: 5%;}
.max-width-6-percent { max-width: 6%;}
.max-width-7-percent { max-width: 7%;}
.max-width-8-percent { max-width: 8%;}
.max-width-9-percent { max-width: 9%;}
.max-width-10-percent { max-width: 10%;}
.max-width-20-percent { max-width: 20%;}
.max-width-25-percent { max-width: 25%;}
.max-width-30-percent { max-width: 30%;}
.max-width-35-percent { max-width: 35%;}
.max-width-40-percent { max-width: 40%;}
.max-width-45-percent { max-width: 45%;}
.max-width-50-percent { max-width: 50%;}
.max-width-55-percent { max-width: 55%;}
.max-width-60-percent { max-width: 60%;}
.max-width-65-percent { max-width: 65%;}
.max-width-66-percent { max-width: 66%;}
.max-width-70-percent { max-width: 70%;}
.max-width-71-percent { max-width: 71%;}
.max-width-72-percent { max-width: 72%;}
.max-width-73-percent { max-width: 73%;}
.max-width-74-percent { max-width: 74%;}
.max-width-75-percent { max-width: 75%;}
.max-width-80-percent { max-width: 80%;}
.max-width-85-percent { max-width: 85%;}
.max-width-86-percent { max-width: 86%;}
.max-width-87-percent { max-width: 87%;}
.max-width-88-percent { max-width: 88%;}
.max-width-89-percent { max-width: 89%;}
.max-width-90-percent { max-width: 90%;}
.max-width-91-percent { max-width: 91%;}
.max-width-92-percent { max-width: 92%;}
.max-width-93-percent { max-width: 93%;}
.max-width-94-percent { max-width: 94%;}
.max-width-95-percent { max-width: 95%;}
.max-width-96-percent { max-width: 96%;}
.max-width-97-percent { max-width: 97%;}
.max-width-98-percent { max-width: 98%;}
.max-width-99-percent { max-width: 99%;}
.max-width-100-percent { max-width: 100%;}

.min-width-0-percent { min-width: 0%;}
.min-width-1-percent { min-width: 1%;}
.min-width-2-percent { min-width: 2%;}
.min-width-3-percent { min-width: 3%;}
.min-width-4-percent { min-width: 4%;}
.min-width-5-percent { min-width: 5%;}
.min-width-6-percent { min-width: 6%;}
.min-width-7-percent { min-width: 7%;}
.min-width-8-percent { min-width: 8%;}
.min-width-9-percent { min-width: 9%;}
.min-width-10-percent { min-width: 10%;}
.min-width-20-percent { min-width: 20%;}
.min-width-25-percent { min-width: 25%;}
.min-width-30-percent { min-width: 30%;}
.min-width-35-percent { min-width: 35%;}
.min-width-40-percent { min-width: 40%;}
.min-width-45-percent { min-width: 45%;}
.min-width-50-percent { min-width: 50%;}
.min-width-55-percent { min-width: 55%;}
.min-width-60-percent { min-width: 60%;}
.min-width-65-percent { min-width: 65%;}
.min-width-66-percent { min-width: 66%;}
.min-width-70-percent { min-width: 70%;}
.min-width-71-percent { min-width: 71%;}
.min-width-72-percent { min-width: 72%;}
.min-width-73-percent { min-width: 73%;}
.min-width-74-percent { min-width: 74%;}
.min-width-75-percent { min-width: 75%;}
.min-width-80-percent { min-width: 80%;}
.min-width-85-percent { min-width: 85%;}
.min-width-86-percent { min-width: 86%;}
.min-width-87-percent { min-width: 87%;}
.min-width-88-percent { min-width: 88%;}
.min-width-89-percent { min-width: 89%;}
.min-width-90-percent { min-width: 90%;}
.min-width-91-percent { min-width: 91%;}
.min-width-92-percent { min-width: 92%;}
.min-width-93-percent { min-width: 93%;}
.min-width-94-percent { min-width: 94%;}
.min-width-95-percent { min-width: 95%;}
.min-width-96-percent { min-width: 96%;}
.min-width-97-percent { min-width: 97%;}
.min-width-98-percent { min-width: 98%;}
.min-width-99-percent { min-width: 99%;}
.min-width-100-percent { min-width: 100%;}

.width-1em { width: 1em; }
.width-2em { width: 2em; }
.width-3em { width: 3em; }
.width-4em { width: 4em; }
.width-5em { width: 5em; }
.width-6em { width: 6em; }
.width-7em { width: 7em; }
.width-8em { width: 8em; }
.width-9em { width: 9em; }
.width-10em { width: 10em; }
.width-11em { width: 11em; }
.width-12em { width: 12em; }
.width-13em { width: 13em; }
.width-14em { width: 14em; }
.width-15em { width: 15em; }
.width-16em { width: 16em; }
.width-17em { width: 17em; }
.width-18em { width: 18em; }
.width-19em { width: 19em; }
.width-20em { width: 20em; }
.width-21em { width: 21em; }
.width-22em { width: 22em; }
.width-23em { width: 23em; }
.width-24em { width: 24em; }
.width-25em { width: 25em; }
.width-26em { width: 26em; }
.width-27em { width: 27em; }
.width-28em { width: 28em; }
.width-29em { width: 29em; }
.width-30em { width: 30em; }
.width-40em { width: 40em; }
.width-50em { width: 50em; }

.max-width-1em { max-width: 1em; }
.max-width-2em { max-width: 2em; }
.max-width-3em { max-width: 3em; }
.max-width-4em { max-width: 4em; }
.max-width-5em { max-width: 5em; }
.max-width-6em { max-width: 6em; }
.max-width-7em { max-width: 7em; }
.max-width-8em { max-width: 8em; }
.max-width-9em { max-width: 9em; }
.max-width-10em { max-width: 10em; }
.max-width-11em { max-width: 11em; }
.max-width-12em { max-width: 12em; }
.max-width-13em { max-width: 13em; }
.max-width-14em { max-width: 14em; }
.max-width-15em { max-width: 15em; }
.max-width-16em { max-width: 16em; }
.max-width-17em { max-width: 17em; }
.max-width-18em { max-width: 18em; }
.max-width-19em { max-width: 19em; }
.max-width-20em { max-width: 20em; }
.max-width-21em { max-width: 21em; }
.max-width-22em { max-width: 22em; }
.max-width-23em { max-width: 23em; }
.max-width-24em { max-width: 24em; }
.max-width-25em { max-width: 25em; }
.max-width-26em { max-width: 26em; }
.max-width-27em { max-width: 27em; }
.max-width-28em { max-width: 28em; }
.max-width-29em { max-width: 29em; }
.max-width-30em { max-width: 30em; }
.max-width-40em { max-width: 40em; }
.max-width-50em { max-width: 50em; }

.min-width-20em { min-width: 20em; }
