<table border='1'>
<% Orchid.name_statuses.each do |record| %>
  <tr>
    <td> <%= record['total'] %></td>
    <td>
      <% if record['name_status'] == '' %>
        <%= link_to('[empty string]',
                      search_path(query_string: "name-status-empty-string:",
                                  query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for name status ",
                      class: 'blue') %>
      <% else %>
        <%= link_to(record['name_status'],
                      search_path(query_string: "name-status-exact: #{record['name_status']}",
                                  query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for name status ",
                      class: 'blue') %>
      <% end %>
    </td>

  </tr>
<% end %>
</table>
