<h4>References with shared Names search</h4>
<br>
<br>
<div id="advanced-search-ref-form-container" class="">
  The search expects two reference ids separated by a comma.  There is currently no advanced form.
</div>

