<h4>Authors advanced search</h4>
<br>
<br>
<div id="advanced-search-author-form-container" class="">
  <form class="form-inline advanced">
    <%= render partial: 'authors/advanced_search/form' %>
    <input type="button" onclick="window.loadAuthorToString()" value="Search" title="Run the search"/>
</form>
</div>

