<h4>Author search</h4>
<p/>Authors listed in name alphabetical order.
<p/>Author name and abbreviation are shown in separate columns.
<br>
<br>
<%= render partial: 'authors/advanced_search/quick_start_help' %>
<br>
<br>
<br>
<%= render partial: 'authors/advanced_search/field_help' %>


