<h4>Author search</h4>
<p>Authors listed in alphabetical order.
<p>Author names in the Editor do not necessarily represent one individual, but are the literal author "strings" recorded on publications. E.g. "Bentham, G. &amp; Hooker, J.D."
<p>Author abbreviations in the Editor also do not necessarily represent one individual. E.g. "Benth. &amp; Hook.f."
<br>
<br>
<%= render partial: 'authors/advanced_search/quick_start_help' %>
<br>
<br>
<br>
<%= render partial: 'authors/advanced_search/field_help' %>


