<h4>Quick start for Author search</h4>
<p>Type one or two terms from the author name or abbreviation into the search and press Enter or click Search.  The Editor will look for any author matching the search terms, shuffled in any order, on either the name or abbreviation.
<p> E.g.  <%= link_to('bent hook', new_search_path(query_string: 'bent hook', query_target: 'author'),class:'blue') %>
or <%= link_to('hook bent', new_search_path(query_string: 'hook bent', query_target: 'author'),class:'blue') %>
