<h5>Quick start for Author search</h5>
<p/>Type one or two terms from the author name or abbreviation into the search and press Enter or click Search.  
<p/>Order of terms does not matter.
<p/> E.g.  <%= link_to('bent hook', search_path(query_string: 'bent hook', query_target: 'author'),class:'blue', title:"Run the described search.") %>
or <%= link_to('hook bent', search_path(query_string: 'hook bent', query_target: 'author'),class:'blue', title:"Run the described search.") %>
<p/>Author names in the Editor do not necessarily represent one individual, but are the literal author "strings" recorded on publications. E.g. "Bentham, G. &amp; Hooker, J.D."
<p/>Author abbreviations in the Editor also do not necessarily represent one individual. E.g. "Benth. &amp; Hook.f."
