<% if Rails.configuration.try("draft_instances") %>
    <br>
    <label class="form-check-label plain" title="Mark this instance as a draft">
    <%= f.check_box(:draft,{tabindex: increment_tab_index }) %>
      as a draft
    </label>
<% end %>
