<% if Rails.configuration.try("draft_instances") && @current_user.treebuilder? && @working_draft %>
  <br>
  <label class="form-check-label plain" title="Mark this instance as a draft">
    <%= f.check_box(:draft, {tabindex: increment_tab_index, checked: @working_draft.draft_instance_default?}) %>
    as a draft
  </label>
<% end %>
