<% if @name.apc_tree_path.present? %>
  <%= link_to("APC tree #{icon('search')}".html_safe,
            search_path(query: @name.id,
                        query_on: 'tree',
                        query_field: 'apc'),
                        tabindex: increment_tab_index,
                        title: "Load the APC tree for this instance.",
                        class: '') %>
<ul class="tree">
<% @name.apc_tree_path.collected.each do |step| %>
  <li>
    <%= link_to(%Q(#{step.full_name}<span class="pull-right">#{step.name_rank.name}</span>).html_safe,
                search_path(query: step.id,
                          query_on: 'name',
                          query_field: 'id'),
                          tabindex: increment_tab_index,
                          title: "Search for #{step.full_name}",
                          class: '') %>
<% end %>
</ul>
<% end %>


