<% if @name.apni_tree_path.present? %>
<%= divider %>
APNI Tree
<ul class="tree">
<% @name.apni_tree_path.tree_ordered_names.each do |step| %>
  <li>
  <%= link_to(%Q(#{step.full_name}<span class="pull-right">#{step.name_rank.name}</span>).html_safe,
                                        new_search_path(query_string: "id: #{step.id}",query_target: 'names'),
                          tabindex: increment_tab_index,
                          title: "Search for #{step.full_name}",
                          class: '') %>
<% end %>
</ul>
<% end %>

