<span class="workspace-container no-decoration">
    <% if tree_version_element.tree_element.excluded %>
      <%= render partial: "instances/workspace/widgets/excluded",
                 locals: {name: tree_version_element.tree_version.published ?
                                    tree_version_element.tree_version.tree.name :
                                    tree_version_element.tree_version.draft_name} %>
    <% else %>
      <%= render partial: "instances/workspace/widgets/accepted",
                 locals: {name: tree_version_element.tree_version.published ?
                     tree_version_element.tree_version.tree.name :
                     tree_version_element.tree_version.draft_name} %>
    <% end %>
  </span>

