<%# Keeps the broadcast div displaying properly on the login page. %>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown define-left-border-when-active"> </li>
      </ul>
    </div>
  </div>
