    <div id="big-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div id="first-navbar" class="no-left-padding navbar-header col-sm-12 col-md-12">
            <%= render 'layouts/no_new' %>
          </div>
        </div>
        <div id="searchbar-row" class="row">
          <div id="searchbar" class="new-small-searchbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
          </div>
        </div>
        <% if @system_broadcast.present? && !@system_broadcast.match(/This is the test instance./) %> 
          <div id="broadcast" style="padding-top: 3px; height: 1.5em;" class="col-xs-12 col-sm-11 col-md-10 col-lg-8">
            <%= @system_broadcast.html_safe %>
          </div>
       <% elsif flash.present? %>
          <div id="broadcast" style="padding-top: 3px; height: 1.5em;" class="">
            <% flash.each do | key, value | %>
              <%= value %>
            <% end %>
          </div>
       <% end %>
      </div>
    </div>

